._nb-service-arrow
  skin: v3-arrow (__tail '& > ._nb-arrow-tail')

  a&
    skin: link #000 no-hover

._nb-search-arrow
  kind: block
  skin: arrow search

  &-content
    kind: shrink

  &-content > &-input
    width: 100%

  &-button
    kind: shrink__right
    margin-left: $islands_xs

._nb-search-arrow-label
  kind: field__left 0.5*$islands_s
  skin: input__label

  // Make proper when there would be a possibility to add left part without wrapper
  padding: 0.5*$islands_s $islands_s
  margin-right: 0.5*$islands_s
