.nb-popup
  z-index: 100
  position: absolute
  skin: popup (-content '&__content') (-close '&__close') (-tail '&__tail')

// popup

.nb-popup
  .nb-popup__line
    display: block
    padding: ($islands_s / 2) $islands_s
    outline: 0 none

  .nb-popup__line:first-child
    padding: $islands_s $islands_s ($islands_s / 2) $islands_s

  .nb-popup__line:last-child
    padding: ($islands_s / 2) $islands_s $islands_s $islands_s


  .nb-popup__line._link
    display: block

    text-decoration: none

    white-space: nowrap // Inline-only


  // popup's separator
  .nb-popup__hr
    margin: 3px 0
    height: 1px
    background: #DDD
    overflow: hidden

.nb-popup__title
  font: $font-h3
  padding: $islands_s

.nb-popup__content
  font: $font-p1
  padding: 0 $islands_s

.nb-popup__buttons

  padding: $islands_s
  padding-top: $islands_s

.nb-popup__button
  margin-right:  $islands_s

.nb-popup.ui-dialog-fixed
  position: fixed !important

.nb-popup-outer.ui-dialog,
.nb-popup-outer.ui-dialog .ui-dialog-content
  padding:  0

// .nb-popup_tail_to_bottom .nb-popup__tail_to_right i
// .nb-popup_tail_to_top .nb-popup__tail_to_right i
//   left: 75%

// .nb-popup_tail_to_bottom .nb-popup__tail_to_left i
// .nb-popup_tail_to_top .nb-popup__tail_to_left i
//   left: 25%

// .nb-popup_tail_to_left .nb-popup__tail_to_bottom i
// .nb-popup_tail_to_right .nb-popup__tail_to_bottom i
//   top: 75%

// .nb-popup_tail_to_left .nb-popup__tail_to_top i
// .nb-popup_tail_to_right .nb-popup__tail_to_top i
//   top: 25%


.nb-popup-outer
 .nb-popup
   position: static
