.nb-popup
  z-index: 100
  position: absolute
  skin: popup (-content '&__content') (-close '&__close') (-tail '&__tail')

  overflow: hidden

// popup

.nb-popup
  & .nb-popup__line
    skin: menu-item (_hover '&:hover, &:focus')
    outline: none

    &:first-child
      margin-top: ($islands_s / 2)

    &:last-child
      margin-bottom: ($islands_s / 2)

  & .nb-popup__separator
    display: block

    border-top: 1px solid rgba-ie(#000, 0.2)
    margin: 0.5*$islands_s

.nb-popup__title
  font: $font-h3
  padding: $islands_s
  display: block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.nb-popup__content
  font: $font-p1
  padding: 0 $islands_s

.nb-popup__buttons

  padding: $islands_s
  padding-top: $islands_s

.nb-popup__button
  margin-right:  $islands_s

.nb-popup.ui-dialog-fixed
  position: fixed !important

.ui-tooltip.nb-island
  position: absolute

.nb-popup-outer.ui-dialog,
.nb-popup-outer.ui-dialog .ui-dialog-content
  padding:  0

.nb-popup_to_bottom .nb-popup__tail_to_right
.nb-popup_to_top .nb-popup__tail_to_right
  left: 75%

.nb-popup_to_bottom .nb-popup__tail_to_left
.nb-popup_to_top .nb-popup__tail_to_left
  left: 25%

.nb-popup_to_left .nb-popup__tail_to_bottom
.nb-popup_to_right .nb-popup__tail_to_bottom
  top: 75%

.nb-popup_to_left .nb-popup__tail_to_top
.nb-popup_to_right .nb-popup__tail_to_top
   top: 25%

.nb-popup-outer
 .nb-popup
   position: static

.ui-widget-overlay.ui-front
  background: #000
  background: rgba(0,0,0,0.3)

.nb-popup_theme_default
  .nb-popup__title
    padding: 0 2*$gapM 0 $gapM
    height: 50px
    line-height: @height

    font-size: 1em

    background: $backgroundPrimary
    border-bottom: 1px solid darken($background, 16%)

  .nb-popup__content
    padding: 0

  .nb-popup__buttons
    margin-top: -1px
    padding: ($gapS + 1px) $gapS $gapS

    box-shadow: inset 0 1px rgba($foreground, 0.15), 0 -2px rgba($foreground, 0.04)
