// this could be overriden on project level
// for custom show/hide effect
//
// For instance,
//   .nb-common
//     transition: opacity 0.2s ease
//     opacity: 1
//
//   .nb-common_hidden
//      opacity: 0
//
.nb-common_hidden
    display: none