.nb-select
  &.nb-button
    text-align: left // fixes #345

  & ._nb-button-content
    if ie
      display: none !important
    if !ie
      overflow: hidden
      text-overflow: ellipsis
      padding-right: 4px
      margin-right: - @padding-right

      // For baseline alignment
      float: left
      width: 100%


._nb-select-fallback
  if !ie
    display: none
  if ie
    display: inline-block

// For baseline alignment,
// TODO: move to Stylobate
._nb-select-helper
  display: inline-block
  width: 0
  overflow: hidden

  &:before
    content: " "

.nb-select ._nb-select-button
  box-sizing: border-box
  display: inline-block

.nb-select ._nb-button-content:before
.nb-select-dropdown ._nb-select-group-item > ._nb-select-a:before
  content: ""
  skin: icon_dropdown selecty

._nb-small-select ._nb-button-content:before
._nb-small-select-dropdown ._nb-select-group-item > ._nb-select-a:before
  skin: icon_dropdown selecty small

.nb-select-dropdown ._nb-select-group-item > ._nb-select-a:before
._nb-small-select-dropdown ._nb-select-group-item > ._nb-select-a  > ._nb-select-text:before
  transform: scale(0.75) rotate(-45deg) translate(3px, 5px)

.nb-select-dropdown .ui-menu
  skin: isle fly, menu no-elements
  position: absolute
  z-index: 10000

  reset: ul
  list-style-type: none // move to reset

._nb-select-item
  reset: li

._nb-select-a
  skin: menu-item (_checked '.is-selected &')
  white-space: nowrap
  padding-right: 21px

._nb-select-separator
  skin: menu-separator padded

._nb-select-popup ._nb-popup-content
  overflow-x: hidden
  overflow-y: auto
  padding: 0

._nb-small-select-dropdown ._nb-select-item ._nb-select-a
._nb-small-pseudo-select-dropdown ._nb-select-item ._nb-select-a
._nb-small-action-select-dropdown ._nb-select-item ._nb-select-a
._nb-small-select-dropdown ._nb-select-item ._nb-select-a
  skin: menu-item_size small

.nb-select-dropdown .ui-state-focus
  skin: menu-item_hover

// FIXME: we need to use `nb-is-disabled` here
._nb-small-normal-select .ui-menu-item_disabled_yes
  kind: disabled 0.6 (-nested '')

._nb-select-seperator-item
  skin: menu-separator padded

._nb-is-disabled._nb-select-button:focus:after
  box-shadow: none
