// FIXME: move all those stuff to stylobate-islands
.nb-select
  &.nb-button
    text-align: left // fixes #345

  if ie
    & ._nb-button-content
      display: none !important

._nb-select-fallback
  if !ie
    display: none
  if ie
    display: inline-block

.nb-select ._nb-select-arrow
  skin: v3-icon_dropdown

._nb-small-normal-select ._nb-select-arrow
  skin: v3-icon_dropdown small

.nb-select-dropdown ._nb-select-group-item > ._nb-select-a:after
  skin: v3-icon_dropdown selecty
  content: ""
  top: 0.65em

._nb-small-select-dropdown ._nb-select-group-item > ._nb-select-a:after
  skin: v3-icon_dropdown selecty small
  content: ""
  top: 0.55em


.nb-select-dropdown .ui-menu
  skin: isle fly
  skin: menu no-elements padded
  position: absolute
  z-index: 10000

  reset: ul
  list-style-type: none // move to reset

._nb-select-item
  reset: li

._nb-select-a
  skin: menu__item (_checked '.is-selected &')
  white-space: nowrap
  padding-right: 21px

._nb-select-separator
  skin: menu__separator padded

._nb-select-popup ._nb-popup-content
  overflow-x: hidden
  overflow-y: auto
  padding: 0

._nb-small-select-dropdown ._nb-select-item ._nb-select-a
._nb-small-pseudo-select-dropdown ._nb-select-item ._nb-select-a
._nb-small-action-select-dropdown ._nb-select-item ._nb-select-a
  skin: menu__item_size small
  padding-right: 19px

.nb-select-dropdown .ui-state-focus
  skin: menu__item_hover

// FIXME: we need to use `nb-is-disabled` here
._nb-small-normal-select .ui-menu-item_disabled_yes
  kind: disabled 0.6 (__nested '')

._nb-select-seperator-item
  skin: menu__separator padded

._nb-is-disabled._nb-select-button:focus:after
  box-shadow: none
