nb-suggest()

  .nb-suggest
    display: inline-block

  ._nb-suggest-input .nb-input
    width: 100%

  ._nb-suggest-container
    skin: v3-menu (_size large)

    &._nb-small-suggest
      skin: v3-menu_ (_size medium) (_padded '')

  ._nb-suggest-container.nb-island
    position: absolute

  ._nb-suggest-item
    skin: v3-menu__item _ellipsis (_size large) (_hover '&.ui-state-focus')

    height: auto !important // As there could be custom content

  ._nb-small-suggest ._nb-suggest-item
    skin: v3-menu__item (_hover '')

nb-suggest()
