nb-suggest()

  .nb-suggest
    display: inline-block

  .nb-suggest__input .nb-input
    width: 100%

  .nb-suggest__container
    padding: 0

  .nb-suggest__container.nb-island
    position: absolute

  .nb-suggest__item__link
    skin: menu-item (_hover '&.ui-state-focus')

  .nb-suggest_size_s .nb-suggest__item__link
    skin: menu-item small no-hover

nb-suggest()
