.nb-island
  kind: block
  skin: isle

.nb-island_type_inline
  kind: block inline
  skin: isle

.nb-island_type_fly
  skin: isle fly

.nb-island_padding_s
  padding: $islands_s

.nb-island_padding_m
  padding: $islands_m

.nb-island_padding_l
  padding: $islands_l
