.nb-island
  kind: block
  skin: isle

.nb-inline-island
  kind: block inline
  skin: isle

.nb-fly-island
  skin: isle fly

.nb-small-fly-island
  skin: isle fly
  padding: $islands_s

.nb-fly-island
  skin: isle fly
  padding: $islands_m

.nb-large-fly-island
  skin: isle fly
  padding: $islands_l

.nb-small-inline-island
  kind: block inline
  skin: isle
  padding: $islands_s

.nb-inline-island
  kind: block inline
  skin: isle
  padding: $islands_m

.nb-large-inline-island
  kind: block inline
  skin: isle
  padding: $islands_l

  