nb-island()
  .nb-island
    background: #FFF
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 6px 6px -4px rgba(0, 0, 0, .14)
    box-sizing: border-box

  .nb-island_padding_s
    padding: $gapS;

  .nb-island_padding_m
    padding: $gapM;

  .nb-island_padding_l
    padding: $gapL;

  .nb-island_inline
    display: inline-block

nb-island()