.nb-tabs__tab {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.nb-button_theme_normal,
.nb-button_theme_action,
.nb-button_theme_pseudo {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  overflow: visible;
}
.nb-button_theme_normal::-moz-focus-inner,
.nb-button_theme_action::-moz-focus-inner,
.nb-button_theme_pseudo::-moz-focus-inner {
  padding: 0;
  border: none;
}
.nb-input {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font: inherit;
}
.nb-input:focus {
  outline: none;
}
.nb-icon {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-top: -0.25em;
  background: 50% no-repeat;
}
.nb-button_theme_normal,
.nb-button_theme_action,
.nb-button_theme_pseudo {
  display: inline;
  zoom: 1;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  vertical-align: baseline;
}
.nb-input-group {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  white-space: nowrap;
}
.nb-input-group .nb-button:not(:first-child):not(:last-child),
.nb-input-group .nb-button:last-child,
.nb-input-group .nb-input-box:not(:first-child):not(:last-child),
.nb-input-group .nb-input-box:last-child {
  margin-left: -1px;
}
.nb-input {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  max-width: 100%;
  cursor: text;
  vertical-align: baseline;
}
.nb-button_disabled {
  cursor: default !important;
  opacity: 0.6;
}
.nb-button_disabled:focus {
  outline: 0;
}
.nb-button_disabled .nb-button_disabled {
  opacity: 1;
}
.nb-button_theme_normal {
  font: 15px/22px Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 14px;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
}
.nb-button_theme_normal:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.nb-button_theme_normal > .ui-button-text {
  position: relative;
  display: block;
}
button.nb-button_theme_normal > .ui-button-text {
  margin: -1px -1px -3px;
}
.nb-button_theme_normal:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nb-button_theme_normal:not(.nb-button_disabled):focus {
  outline: 0;
}
.nb-button_theme_normal:not(.nb-button_disabled):focus:after {
  z-index: 9;
}
.nb-button_theme_normal:not(.nb-button_disabled):hover {
  background: #b0b0b0;
}
.nb-button_theme_normal:not(.nb-button_disabled):hover:before {
  background: #fbfaf9;
}
.nb-button_theme_normal.nb-button_size_s {
  font: 15px/22px Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 12px;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
}
.nb-button_theme_normal.nb-button_size_s:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.nb-button_theme_normal.nb-button_size_s > .ui-button-text {
  position: relative;
  display: block;
}
button.nb-button_theme_normal.nb-button_size_s > .ui-button-text {
  margin: -1px -1px -3px;
}
.nb-button_theme_normal.nb-button_size_s:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nb-button_theme_normal.nb-button_size_s:not(.nb-button_disabled):focus {
  outline: 0;
}
.nb-button_theme_normal.nb-button_size_s:not(.nb-button_disabled):focus:after {
  z-index: 9;
}
.nb-button_theme_normal.nb-button_size_s:not(.nb-button_disabled):hover {
  background: #b0b0b0;
}
.nb-button_theme_normal.nb-button_size_s:not(.nb-button_disabled):hover:before {
  background: #fbfaf9;
}
.nb-button_theme_action {
  font: 15px/22px Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 14px;
  background: #ffd52e;
  border: 1px solid;
  border-color: #bfb298 #a99c82 #9b8e75;
}
.nb-button_theme_action:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.nb-button_theme_action > .ui-button-text {
  position: relative;
  display: block;
}
button.nb-button_theme_action > .ui-button-text {
  margin: -1px -1px -3px;
}
.nb-button_theme_action:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nb-button_theme_action:not(.nb-button_disabled):focus {
  outline: 0;
}
.nb-button_theme_action:not(.nb-button_disabled):focus:after {
  z-index: 9;
}
.nb-button_theme_action:not(.nb-button_disabled):hover {
  background: #b0b0b0;
}
.nb-button_theme_action:not(.nb-button_disabled):hover:before {
  background: #fd5;
}
.nb-button_theme_action.nb-button_size_s {
  font: 15px/22px Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 12px;
  background: #ffd52e;
  border: 1px solid;
  border-color: #bfb298 #a99c82 #9b8e75;
}
.nb-button_theme_action.nb-button_size_s:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.nb-button_theme_action.nb-button_size_s > .ui-button-text {
  position: relative;
  display: block;
}
button.nb-button_theme_action.nb-button_size_s > .ui-button-text {
  margin: -1px -1px -3px;
}
.nb-button_theme_action.nb-button_size_s:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nb-button_theme_action.nb-button_size_s:not(.nb-button_disabled):focus {
  outline: 0;
}
.nb-button_theme_action.nb-button_size_s:not(.nb-button_disabled):focus:after {
  z-index: 9;
}
.nb-button_theme_action.nb-button_size_s:not(.nb-button_disabled):hover {
  background: #b0b0b0;
}
.nb-button_theme_action.nb-button_size_s:not(.nb-button_disabled):hover:before {
  background: #fd5;
}
.nb-button_theme_pseudo {
  font: 15px/22px Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  color: #333;
  border: 1px solid #cbcbcb;
  font-size: 15px;
  line-height: 22px;
  padding: 2px 10px;
}
.nb-button_theme_pseudo:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.nb-button_theme_pseudo:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nb-button_theme_pseudo > .ui-button-text {
  position: relative;
  display: block;
}
.nb-button_theme_pseudo:not(.nb-button_disabled):focus {
  outline: 0;
}
.nb-button_theme_pseudo:not(.nb-button_disabled):focus:after {
  z-index: 9;
}
.nb-button_theme_pseudo.nb-button_size_s {
  font: 15px/22px Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  color: #333;
  border: 1px solid #cbcbcb;
  font-size: 13px;
  line-height: 18px;
  padding: 2px 9px;
}
.nb-button_theme_pseudo.nb-button_size_s:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.nb-button_theme_pseudo.nb-button_size_s:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nb-button_theme_pseudo.nb-button_size_s > .ui-button-text {
  position: relative;
  display: block;
}
.nb-button_theme_pseudo.nb-button_size_s:not(.nb-button_disabled):focus {
  outline: 0;
}
.nb-button_theme_pseudo.nb-button_size_s:not(.nb-button_disabled):focus:after {
  z-index: 9;
}
.nb-popup {
  z-index: 100;
  position: absolute;
  text-align: left;
  white-space: normal;
  background: #fff;
  outline: 0 none;
  border: 1px solid #cbcbcb;
}
.nb-popup .nb-popup__content {
  display: block;
  white-space: normal;
}
.nb-popup .nb-popup__line {
  display: block;
  padding: 5px 10px;
  outline: 0 none;
}
.nb-popup .nb-popup__line:first-child {
  padding: 10px 10px 5px 10px;
}
.nb-popup .nb-popup__line:last-child {
  padding: 5px 10px 10px 10px;
}
.nb-popup .nb-popup__line._link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.nb-popup .nb-popup__hr {
  margin: 3px 0;
  height: 1px;
  background: #ddd;
  overflow: hidden;
}
.nb-popup__tail {
  width: 100%;
  height: 0;
}
.nb-popup__tail i {
  position: absolute;
  font-size: 11px;
  width: 16px;
  height: 16px;
  clip: rect(0 0 0 0);
  z-index: 101;
}
.nb-popup_tail_to_bottom > .nb-popup__tail i {
  top: 0;
  left: 50%;
  margin: -13px -8px;
  clip: rect(-99em 99em auto -99em);
}
.nb-popup_tail_to_top > .nb-popup__tail i {
  bottom: 0;
  left: 50%;
  margin: -13px -8px;
  clip: rect(0 99em 99em -99em);
}
.nb-popup_tail_to_left > .nb-popup__tail i {
  top: 50%;
  right: 0;
  margin: -8px -13px;
  clip: rect(-99em 99em 99em 0);
}
.nb-popup_tail_to_right > .nb-popup__tail i {
  top: 50%;
  left: 0;
  margin: -8px -13px;
  clip: rect(-99em auto 99em -99em);
}
.nb-popup__tail i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.nb-popup_tail_to_bottom > .nb-popup__tail i:before {
  top: 50%;
}
.nb-popup_tail_to_top > .nb-popup__tail i:before {
  top: -50%;
}
.nb-popup_tail_to_right > .nb-popup__tail i:before {
  left: 50%;
}
.nb-popup_tail_to_left > .nb-popup__tail i:before {
  left: -50%;
}
.nb-popup__title {
  font: 1.25em/1.125em Arial, sans-serif;
  padding: 10px;
}
.nb-popup__content {
  font: 0.9376em/1.4667em Arial, sans-serif;
  padding: 0 10px;
}
.nb-popup__close {
  cursor: pointer;
  opacity: 0.25;
  position: absolute;
  right: 5px;
  top: 3.3333333333333335px;
}
.nb-popup__close:hover {
  opacity: 1;
}
.nb-popup__buttons {
  padding: 10px;
  padding-top: 10px;
}
.nb-popup__button {
  margin-right: 10px;
}
.nb-popup.ui-dialog-fixed {
  position: fixed !important;
}
.nb-popup-outer.ui-dialog .ui-dialog-content {
  padding: 0;
}
.nb-popup_tail_to_bottom .nb-popup__tail_to_right i,
.nb-popup_tail_to_top .nb-popup__tail_to_right i {
  left: 75%;
}
.nb-popup_tail_to_bottom .nb-popup__tail_to_left i,
.nb-popup_tail_to_top .nb-popup__tail_to_left i {
  left: 25%;
}
.nb-popup_tail_to_left .nb-popup__tail_to_bottom i,
.nb-popup_tail_to_right .nb-popup__tail_to_bottom i {
  top: 75%;
}
.nb-popup_tail_to_left .nb-popup__tail_to_top i,
.nb-popup_tail_to_right .nb-popup__tail_to_top i {
  top: 25%;
}
.nb-popup-outer .nb-popup {
  position: static;
}
.nb-radio-button.ui-buttonset .ui-button {
  margin: 0;
  margin-right: -1px;
}
.nb-radio-button {
  display: inline;
  zoom: 1;
  margin-left: -1px;
  white-space: nowrap;
}
.nb-radio-button .nb-button {
  margin-right: -1px;
}
.nb-radio-button__button .nb-radio-button__radio {
  position: absolute;
  opacity: 0;
}
.nb-select {
  max-width: 100%;
  display: inline;
  zoom: 1;
}
.nb-select__fallback {
  display: inline;
  zoom: 1;
}
.nb-select__button {
  display: none;
  max-width: 100%;
  cursor: default;
  text-align: left;
  vertical-align: top;
}
.nb-select .nb-button__text {
  display: block;
  overflow: hidden;
  margin-right: 1em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwb2x5Z29uIHBvaW50cz0iNy4xOTQsMiAzLjk5Niw1LjE5NSAwLjc5OSwyIDAsMi43OTkgMy45OTYsNi43OTQgNy45OTEsMi43OTkiLz48L3N2Zz4=") no-repeat scroll 100% 50% transparent;
}
.nb-select .ui-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 0 1px;
  padding: 0;
  -webkit-overflow-scrolling: touch;
/*LEGO-7899*/
  background: #fff;
}
.nb-select__item {
  cursor: default;
  white-space: nowrap;
}
.nb-select__item.ui-menu-item .nb-select__text {
  -moz-box-sizing: border-box;
  -moz-user-select: none;
  display: inline;
  zoom: 1;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 2.5em;
  padding-top: 0;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: top;
}
.nb-select__item_selected_yes .nb-select__text:after {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4wMzciIGhlaWdodD0iMTQuOTczIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi4xODctMTkuODQ1YzQuNDE4IDAgOCAzLjU4MiA4IDggMCA0LjQxOS0zLjU4MiA4LTggOHMtOC0zLjU4MS04LThjMC00LjQxOCAzLjU4Mi04IDgtOHoiLz48cGF0aCBkPSJNNi4xODctMTguODQ1Yy0zLjg2NiAwLTcgMy4xMzQtNyA3czMuMTM0IDcgNyA3IDctMy4xMzQgNy03LTMuMTM0LTctNy03ek0xMC4xNzctOS4yOGwtMS40MjYgMS40MjYtMi41NjQtMi41NjQtMi41NjUgMi41NjQtMS40MjYtMS40MjYgMi41NjQtMi41NjQtMi41NjQtMi41NjQgMS40MjYtMS40MjYgMi41NjQgMi41NjQgMi41NjQtMi41NjQgMS40MjYgMS40MjYtMi41NjQgMi41NjQgMi41NjUgMi41NjR6Ii8+PHBhdGggZD0iTTUuMjg3IDE0Ljk3MmwxMC43NS0xMi44MTYtMi4xNzctMi4xNTYtOC41NzMgMTAuNjYxLTMuMTQ0LTQuMTQ4LTIuMTQzIDIuMTIzIDUuMjg3IDYuMzM2eiIvPjwvc3ZnPg==");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  height: 1em;
  position: absolute;
  right: 1em;
  top: 0.4em;
  width: 1.1em;
}
.i-ua_inlinesvg_no .nb-select__item_selected_yes .nb-select__text:after {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../../../../../i/8mHn_Rsr7nJcpTqMcpRQLGAlOAM.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nb-select__item_inner_yes .nb-select__text {
  padding-left: 2em;
}
.nb-select__item_label_yes .nb-select__text {
  font-weight: bold;
}
.nb-select__button {
  cursor: default;
  max-width: 100%;
  text-align: left;
  vertical-align: top;
}
.nb-select__list {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.nb-select__separator {
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  -x-system-font: none;
  border-top-color: -moz-use-text-color;
  border-top-style: solid;
  border-top-width: 1px;
  float: left;
  font-family: a;
  font-size: 0;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 0;
  margin-top: -1px;
  position: relative;
  width: 100%;
  z-index: 3;
}
.nb-select__popup .popup__content {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.nb-select.nb-select_size_m .nb-select__fallback,
.nb-select.nb-select_size_m .nb-select__item,
.nb-select.nb-select_size_m .nb-select__item .nb-select__text {
  font-size: 15px;
  line-height: 32px;
}
.nb-select.nb-select_size_s .nb-select__fallback,
.nb-select.nb-select_size_s .nb-select__item,
.nb-select.nb-select_size_s .nb-select__item .nb-select__text {
  font-size: 13px;
  line-height: 28px;
}
.nb-select_theme_normal,
.nb-select_theme_normal .ui-menu-item {
  font-family: Arial, sans-serif;
}
.nb-select_theme_normal .ui-state-focus,
.nb-select_theme_normal .ui-menu-item_hovered_yes,
.nb-select_theme_normal .ui-menu-item:hover {
  background-color: #ffeba0;
}
.nb-select_theme_normal .ui-menu-item_disabled_yes {
  color: #999;
}
.nb-select__popup_theme_normal .nb-select__separator {
  border-bottom-color: #ddd;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #ddd;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #ddd;
  border-top-color: #ddd;
}
.nb-select .ui-menu .ui-menu-item a.ui-state-focus,
.nb-select  .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: 400;
  margin: 0;
}
.nb-checkbox {
  display: inline;
  zoom: 1;
  position: relative;
  font: 0.9376em/1.4667em Arial, sans-serif;
}
.nb-checkbox__input {
  display: none;
}
.nb-checkbox__flag {
  display: inline;
  zoom: 1;
  position: relative;
  width: 16px;
  height: 16px;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.38));
  vertical-align: middle;
}
.nb-checkbox__flag:before,
.nb-checkbox__flag:after {
  display: block;
  position: absolute;
  content: '';
}
.nb-checkbox__flag:before {
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: linear-gradient(#fff, #eee);
}
.nb-checkbox__flag_checkbox:after {
  width: 14px;
  height: 5px;
  border: solid transparent;
  border-width: 3px 3px 0 0;
}
.nb-checkbox__flag_radio:after {
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
}
.nb-checkbox__input:checked + .nb-checkbox__flag {
  background: rgba(255,236,166,0.4);
}
.nb-checkbox__input:checked + .nb-checkbox__flag:before {
  background: linear-gradient(#ffeca6, #fff6d5);
}
.nb-checkbox__input:checked + .nb-checkbox__flag_radio:after {
  background: #333;
}
.nb-checkbox__input:checked + .nb-checkbox__flag_checkbox:after {
  border-color: rgba(0,0,0,0.85);
}
.nb-checkbox__label {
  margin-left: 4px;
  display: inline;
  zoom: 1;
  vertical-align: middle;
}
.nb-checkbox_size_s {
  font: 0.813em/1.125em Arial, sans-serif;
}
.nb-checkbox_size_s .nb-checkbox__flag {
  width: 14px;
  height: 14px;
  top: 0;
}
.nb-checkbox_size_s .nb-checkbox__flag_checkbox:after {
  top: -1px;
  left: -1px;
}
.nb-progress {
  position: relative;
  background: rgba(0,0,0,0.07);
}
.nb-progress__title {
  font: 0.813em/1.125em Arial, sans-serif;
  white-space: nowrap;
  text-overflow: hellip;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
  line-height: 28px;
  overflow: hidden;
}
.nb-progress_type_title  .nb-progress__title {
  text-align: left;
}
.nb-progress_type_percentage  .nb-progress__title {
  text-align: center;
}
.nb-progress__bar {
  position: relative;
  line-height: 28px;
  height: 28px;
  background: rgba(255,236,166,0.4);
}
.nb-progress__bar:before {
  content: ' ';
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background: #ffeca6;
}
.nb-paranja {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  white-space: nowrap;
}
.nb-paranja:after {
  content: "";
  display: inline;
  zoom: 1;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.nb-paranja_theme_light {
  background: #b3b3b3;
  background: rgba(255,255,255,0.9);
}
.nb-paranja_theme_dark {
  background: #fff;
  background: rgba(0,0,0,0.3);
}
.nb-icon {
  width: 16px;
  height: 16px;
}
.nb-button .nb-icon {
  margin: -0.2em 6px 0 -6px;
}
.nb-button_only-icon .nb-icon {
  margin: -0.2em -6px 0;
}
.nb-icon_close_16 {
  background-image: url("blocks/icon/close_16.svg");
}
.nb-icon_link_16 {
  background-image: url("blocks/icon/link_16.svg");
}
.nb-icon_link_16_white {
  background-image: url("blocks/icon/link_16_white.svg");
}
.nb-icon_download_16 {
  background-image: url("blocks/icon/download_16.svg");
}
.nb-icon_download_16_white {
  background-image: url("blocks/icon/download_16_white.svg");
}
.nb-icon_eye_16 {
  background-image: url("blocks/icon/eye_16.svg");
}
.nb-icon_trash_16 {
  background-image: url("blocks/icon/trash_16.svg");
}
.nb-icon_trash_16_white {
  background-image: url("blocks/icon/trash_16_white.svg");
}
.nb-icon_three-dots_16 {
  background-image: url("blocks/icon/three-dots_16.svg");
}
.nb-icon_play_16 {
  background-image: url("blocks/icon/play_16.svg");
}
.nb-icon_pause_16 {
  background-image: url("blocks/icon/pause_16.svg");
}
.nb-icon_mail_16 {
  background-image: url("blocks/icon/mail_16.svg");
}
.nb-icon_vk {
  background-image: url("blocks/icon/vk.svg");
}
.nb-icon_twitter {
  background-image: url("blocks/icon/twitter.svg");
}
.nb-icon_odnoklassniki {
  background-image: url("blocks/icon/odnoklassniki.svg");
}
.nb-icon_link_16 {
  left: 2px;
}
.nb-input {
  width: 400px;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 20px;
  min-height: 32px;
  font-size: 15px;
  border-color: rgba(0,0,0,0.38) rgba(0,0,0,0.27) rgba(0,0,0,0.16);
  background: linear-gradient(#fff, #fff);
}
.nb-input:not(.is-disabled):focus {
  outline: none;
  border-color: rgba(78,62,2,0.515) rgba(94,76,2,0.42) rgba(117,93,0,0.335);
}
.nb-input:focus {
  z-index: 9;
}
.nb-input_size_s > .nb-input {
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 16px;
  min-height: 28px;
  font-size: 13px;
  border-color: rgba(0,0,0,0.38) rgba(0,0,0,0.27) rgba(0,0,0,0.16);
  background: linear-gradient(#fff, #fff);
}
.nb-input_size_s > .nb-input:not(.is-disabled):focus {
  outline: none;
  border-color: rgba(78,62,2,0.515) rgba(94,76,2,0.42) rgba(117,93,0,0.335);
}
.nb-input_size_s > .nb-input:focus {
  z-index: 9;
}
.nb-input-group .nb-button:first-child:before {
  right: 0;
}
.nb-input-group .nb-button:not(:first-child):not(:last-child):before {
  right: 0;
}
.nb-input-group .nb-input-box:not(:last-child) > .nb-input:before {
  right: 0;
}
.nb-island {
  position: relative;
  display: block;
  background: #fff;
}
.nb-island_type_inline {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  background: #fff;
}
.nb-island_type_fly {
  background: #fff;
}
.nb-island_padding_s {
  padding: 10px;
}
.nb-island_padding_m {
  padding: 16px;
}
.nb-island_padding_l {
  padding: 20px;
}
.nb-dropzone {
  color: #888;
  position: relative;
  padding: 20px;
  text-align: center;
  border: 3px dashed rgba(0,0,0,0.2);
  margin: 0 20px 20px 20px;
}
.nb-dropzone__head {
  margin-bottom: 8px;
  font: 1.25em/1.125em Arial, sans-serif;
}
.nb-dropzone__text {
  font: 0.813em/1.125em Arial, sans-serif;
  line-height: 24px;
}
.nb-dropzone__button {
  margin-left: 8px;
}
.nb-dropzone_type_modal {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 20px;
  z-index: 120;
  border: 5px dashed #fff;
}
.nb-dropzone_type_modal .nb-dropzone__head {
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -30px;
  text-align: center;
  font-size: 60px;
}
.nb-dropzone_type_modal .nb-dropzone__cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.nb-loader {
  position: relative;
  display: inline;
  zoom: 1;
}
.nb-loader__spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  background: url("blocks/loader/loader_32.svg");
}
.nb-loader_size_s {
  width: 16px;
  height: 16px;
}
.nb-loader_size_m {
  width: 32px;
  height: 32px;
}
.nb-loader__spinner_color_white {
  background-image: url("blocks/loader/loader_32_white.svg");
}
@-o-keyframes spin {
    0%   { -o-transform: rotate(0deg) }
    100% { -o-transform: rotate(360deg) }
  }
  @-moz-keyframes spin {
    0%   { -moz-transform: rotate(0deg) }
    100% { -moz-transform: rotate(360deg) }
  }
  @-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
  }
  @keyframes spin {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
.nb-slider {
  display: inline;
  zoom: 1;
  width: 100%;
  position: relative;
}
.nb-slider__fallback {
  display: inline;
  zoom: 1;
}
.nb-slider__body {
  display: none;
  position: relative;
  z-index: 7;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.nb-slider_disabled_yes .nb-slider__body {
  opacity: 0.5;
}
.nb-slider__body:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 1px;
  right: 1px;
  top: 0;
  margin: 0;
  height: 6px;
}
.nb-slider_theme_normal .nb-slider__body:before {
  background-color: rgba(0,0,0,0.07);
}
.nb-slider.nb-slider_orientation_horiz .nb-slider__body .ui-slider-range {
  position: absolute;
  z-index: 2;
  height: 6px;
  top: 0;
  margin-left: 1px;
  margin-right: -1px;
  background: rgba(255,236,166,0.4);
}
.nb-slider.nb-slider_orientation_horiz .nb-slider__body .ui-slider-range:before {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background: #ffeca6;
}
.nb-slider .nb-slider__body .nb-slider__handle {
  z-index: 6;
  top: 0;
  margin: 0;
}
.nb-slider_animation_yes .nb-slider__handle {
  -webkit-transition: left 0.25s ease, bottom 0.25s ease;
  -moz-transition: left 0.25s ease, bottom 0.25s ease;
  -o-transition: left 0.25s ease, bottom 0.25s ease;
}
.nb-slider_animation_yes .ui-slider-range {
  -webkit-transition: width 0.25s ease, left 0.25s ease, height 0.25s ease, bottom 0.25s ease;
  -moz-transition: width 0.25s ease, left 0.25s ease, height 0.25s ease, bottom 0.25s ease;
  -o-transition: width 0.25s ease, left 0.25s ease, height 0.25s ease, bottom 0.25s ease;
}
.nb-slider_theme_normal {
  font-family: Arial, sans-serif;
}
.nb-slider.nb-slider_size_s .nb-slider__body {
  height: 10px;
}
.nb-slider.nb-slider_size_s .nb-slider__body:before,
.nb-slider.nb-slider_size_s .nb-slider__body .ui-slider-range {
  top: 3px;
}
.nb-slider.nb-slider_size_s .nb-slider__body  .nb-slider__handle {
  margin-left: -5px;
  height: 10px;
  width: 10px;
}
.nb-slider.nb-slider_size_m .nb-slider__body {
  height: 16px;
}
.nb-slider.nb-slider_size_m .nb-slider__body:before,
.nb-slider.nb-slider_size_m .nb-slider__body .ui-slider-range {
  top: 6px;
}
.nb-slider.nb-slider_size_m .nb-slider__body  .nb-slider__handle {
  margin-left: -8px;
  height: 16px;
  width: 16px;
}
.nb-slider.nb-slider_size_l .nb-slider__body {
  height: 20px;
}
.nb-slider.nb-slider_size_l .nb-slider__body:before,
.nb-slider.nb-slider_size_l .nb-slider__body .ui-slider-range {
  top: 8px;
}
.nb-slider.nb-slider_size_l .nb-slider__body .nb-slider__handle {
  margin-left: -10px;
  height: 20px;
  width: 20px;
}
.nb-tabs {
  position: relative;
  display: block;
  margin: 0 -8px;
  font-size: 15px;
}
.nb-tabs__tab {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
}
.nb-tabs__link {
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  line-height: 2em;
  padding: 3px 8px;
  position: relative;
  display: block;
}
.nb-tabs__link:hover {
  color: #d00;
}
.ui-state-active .nb-tabs__link,
.ui-state-active:hover .nb-tabs__link {
  color: #000;
  cursor: default;
}
.ui-state-active .nb-tabs__link:before,
.ui-state-active:hover .nb-tabs__link:before {
  content: "";
  position: absolute;
  top: -1px;
  right: 8px;
  bottom: auto;
  left: 8px;
  border-top: 2px solid;
}
.nb-tabs_size_s {
  position: relative;
  display: block;
  margin: 0 -8px;
  font-size: 13px;
}
.nb-tabs_rise_s,
.nb-tabs_rise_m,
.nb-tabs_rise_l {
  margin-top: -16px;
  margin-bottom: 10px;
}
.nb-arrow {
  position: relative;
  margin-right: 10px;
}
.nb-arrow_service {
  display: inline;
  zoom: 1;
}
.nb-arrow__top,
.nb-arrow__bottom {
  position: absolute;
  left: 0px;
  width: 100%;
}
.nb-arrow__content {
  position: relative;
  z-index: 3;
  padding: 5px;
}
.nb-arrow__top,
.nb-arrow__bottom,
.nb-arrow__content {
  background: linear-gradient(top right, #ffdb4c 0, #fc0 100%);
}
.nb-arrow__top {
  transform-origin: 0 0;
  height: 50%;
  top: 0;
}
.nb-arrow__bottom {
  transform-origin: 0 100%;
  height: 50%;
  bottom: 0;
}
.nb-arrow_service .nb-arrow__top,
.nb-arrow_service .nb-arrow__bottom,
.nb-arrow_service .nb-arrow__content {
  background: #ffdb4c;
}
._link.nb-arrow__service__name {
  display: inline;
  zoom: 1;
  line-height: 32px;
  padding: 0px 9px;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
}
.nb-arrow__input__wrap {
  overflow: hidden;
  position: relative;
}
.nb-arrow__button {
  float: right;
  margin: 0px 10px 0px 6px;
}
.nb-arrow__name__wrap {
  float: left;
  position: relative;
}
._link.nb-arrow__name {
  border-right: 1px solid rgba(0,0,0,0.08);
  background: linear-gradient(bottom, rgba(0,0,0,0.02) 0, rgba(255,225,120,0.1) 100%);
  line-height: 32px;
  padding: 0 12px;
  font-size: 16px;
  color: #000;
  display: inline;
  zoom: 1;
  position: relative;
  z-index: 1;
}
.nb-arrow__name__wrap:before {
  background: #c4c4c4;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.nb-arrow__name__wrap:after {
  background: #fff;
  bottom: 1px;
  content: "";
  left: 1px;
  position: absolute;
  right: 0;
  top: 1px;
}
.nb-arrow__name__wrap + .nb-arrow__input__wrap .nb-arrow__input:after {
  left: 0;
}
.nb-arrow__name__wrap_focus:before {
  display: none;
}
.nb-arrow__input,
.nb-arrow__input input {
  width: 100%;
}
.nb-arrow__requests__wrap {
  position: absolute;
  top: 5px;
}
.nb-arrow__requests {
  color: #bbb;
  z-index: 1;
  font-size: 13px;
  line-height: 32px;
  white-space: nowrap;
  display: inline;
  zoom: 1;
}
.nb-arrow__input_fake {
  padding: 0 8px;
  font-size: 16px;
  line-height: 32px;
  visibility: hidden;
}
IMG {
  border: 0;
}
._hidden {
  display: none !important;
}
._link {
  color: #22c;
  cursor: pointer;
}
a._link {
  text-decoration: none;
}
._link:hover {
  color: #d00;
}
._link_outer {
  color: #070;
}
