@import "vars/colors.styl"
@import "vars/layout.styl"
@import "blocks/button/button.styl"
@import "blocks/popup/popup.styl"
@import "blocks/radio-button/radio-button.styl"
@import "blocks/select/select.styl"
@import "blocks/checkbox/checkbox.styl"
@import "blocks/progress/progress.styl"
@import "blocks/paranja/paranja.styl"
@import "blocks/icon/icon.styl"
@import "blocks/input/input.styl"
@import "blocks/input-group/input-group.styl"


IMG
  border: 0


._hidden
  display: none


._link
  color: #22C
  cursor: pointer
  transition: color .15s ease-out

a._link
  text-decoration: none

._link:hover
  color: #D00

._link_outer
  color: #070
