.nb-button {
  display: inline;
  zoom: 1;
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-family: Arial, sans-serif;
  color: #333;
  vertical-align: middle;
  overflow: visible;
}
a.nb-button {
  padding: 2px 0;
}
.nb-button:focus,
.nb-button.ui-state-focus {
  outline: none;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.07), 0 0 6px 2px rgba(255,204,0,0.7);
}
.nb-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.nb-button__text {
  position: relative;
  padding: 0 1em;
}
.nb-button .nb-icon {
  margin-right: 4px;
  margin-left: -4px;
}
.nb-button_only-icon .nb-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
}
.nb-button_only-icon .nb-icon_size_m {
  margin: -16px 0 0 -16px;
}
.nb-button_only-icon .nb-icon_size_l {
  margin: -24px 0 0 -24px;
}
.nb-button_only-icon .nb-button__text {
  width: 4px;
  display: inline;
  zoom: 1;
}
.nb-button_size_s {
  font-size: 13px;
  line-height: 20px;
}
.nb-button_size_m {
  font-size: 15px;
  line-height: 26px;
}
.nb-button_theme_pseudo.nb-button_size_s {
  line-height: 20px;
}
.nb-button_theme_pseudo.nb-button_size_m {
  line-height: 28px;
}
.nb-button_theme_action {
  background: #a79a80;
  background: -webkit-linear-gradient(rgba(96,64,0,0.4) 0%, rgba(70,47,0,0.54) 100%);
  background: -moz-linear-gradient(rgba(96,64,0,0.4) 0%, rgba(70,47,0,0.54) 100%);
  background: -o-linear-gradient(rgba(96,64,0,0.4) 0%, rgba(70,47,0,0.54) 100%);
  background: -ms-linear-gradient(rgba(96,64,0,0.4) 0%, rgba(70,47,0,0.54) 100%);
  background: linear-gradient(rgba(96,64,0,0.4) 0%, rgba(70,47,0,0.54) 100%);
}
.nb-button_theme_normal:active .nb-button__text,
.nb-button_theme_action:active .nb-button__text {
  top: 1px;
}
.nb-button_theme_normal.nb-button_disabled:active .nb-button__text,
.nb-button_theme_action.nb-button_disabled:active .nb-button__text {
  top: 0px;
}
.nb-button_theme_pseudo {
  cursor: pointer;
}
.nb-button_theme_pseudo .nb-button__text {
  padding: 0 0.78em;
}
.nb-button_theme_pseudo.nb-button_disabled {
  cursor: default;
}
a.nb-button {
  border: 2px solid;
  border-right-color: #666;
  border-bottom-color: #666;
  border-top-color: #efefef;
  border-left-color: #efefef;
  background: #d4d0c8;
}
a.nb-button_theme_normal:active,
a.nb-button_theme_action:active {
  border-right-color: #efefef;
  border-bottom-color: #efefef;
  border-top-color: #666;
  border-left-color: #666;
}
.nb-button_theme_action,
a.nb-button_theme_action {
  background: #ffdf60;
}
.nb-button_theme_pseudo,
a.nb-button_theme_pseudo {
  text-decoration: none;
  background: none;
  border: 1px solid #ccc;
}
.nb-button_theme_pseudo.nb-button_disabled,
a.nb-button_theme_pseudo.nb-button_disabled {
  border: 1px solid #ddd;
}
.nb-button_disabled {
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
.nb-radio-button__radio:checked + .nb-button,
.nb-button_checked,
.nb-button_checked:active {
  color: #7a7254;
  background: rgba(255,236,166,0.4);
}
.nb-radio-button__radio:checked + .nb-button:before,
.nb-button_checked:before,
.nb-button_checked:active:before {
  background: -webkit-linear-gradient(#ffeca6 0px, #fff6d5 100%);
  background: -moz-linear-gradient(#ffeca6 0px, #fff6d5 100%);
  background: -o-linear-gradient(#ffeca6 0px, #fff6d5 100%);
  background: -ms-linear-gradient(#ffeca6 0px, #fff6d5 100%);
  background: linear-gradient(#ffeca6 0px, #fff6d5 100%);
}
.nb-radio-button__radio:checked + .nb-button .nb-button__text,
.nb-button_checked .nb-button__text,
.nb-button_checked:active .nb-button__text {
  top: 1px;
}
.nb-button_type_attach {
  overflow: hidden;
}
.nb-button_type_attach .nb-button__attach {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 430px;
  font-size: 150%;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  border: 0;
}
.nb-button_type_round {
  line-height: 1;
  text-align: center;
}
.nb-button_type_round .nb-button__text {
  padding: 0;
  vertical-align: top;
}
.nb-popup {
  z-index: 100;
  position: absolute;
  text-align: left;
  white-space: normal;
  background: #fff;
  outline: 0 none;
  border: 1px solid #cbcbcb;
}
.nb-popup .nb-popup__content {
  display: block;
  white-space: normal;
}
.nb-popup .nb-popup__line {
  display: block;
  padding: 5px 10px;
  outline: 0 none;
}
.nb-popup .nb-popup__line:first-child {
  padding: 10px 10px 5px 10px;
}
.nb-popup .nb-popup__line:last-child {
  padding: 5px 10px 10px 10px;
}
.nb-popup .nb-popup__line._link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.nb-popup .nb-popup__hr {
  margin: 3px 0;
  height: 1px;
  background: #ddd;
  overflow: hidden;
}
.nb-popup__tail {
  width: 100%;
  height: 0;
}
.nb-popup__tail i {
  position: absolute;
  font-size: 11px;
  width: 16px;
  height: 16px;
  clip: rect(0 0 0 0);
  z-index: 101;
}
.nb-popup_tail_to_bottom > .nb-popup__tail i {
  top: 0;
  left: 50%;
  margin: -13px -8px;
  clip: rect(-99em 99em auto -99em);
}
.nb-popup_tail_to_top > .nb-popup__tail i {
  bottom: 0;
  left: 50%;
  margin: -13px -8px;
  clip: rect(0 99em 99em -99em);
}
.nb-popup_tail_to_left > .nb-popup__tail i {
  top: 50%;
  right: 0;
  margin: -8px -13px;
  clip: rect(-99em 99em 99em 0);
}
.nb-popup_tail_to_right > .nb-popup__tail i {
  top: 50%;
  left: 0;
  margin: -8px -13px;
  clip: rect(-99em auto 99em -99em);
}
.nb-popup__tail i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.nb-popup_tail_to_bottom > .nb-popup__tail i:before {
  top: 50%;
}
.nb-popup_tail_to_top > .nb-popup__tail i:before {
  top: -50%;
}
.nb-popup_tail_to_right > .nb-popup__tail i:before {
  left: 50%;
}
.nb-popup_tail_to_left > .nb-popup__tail i:before {
  left: -50%;
}
.nb-popup__title {
  font: 1.25em/1.125em Arial, sans-serif;
  padding: 10px;
}
.nb-popup__content {
  font: 0.9376em/1.4667em Arial, sans-serif;
  padding: 0 10px;
}
.nb-popup__close {
  cursor: pointer;
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
  position: absolute;
  right: 5px;
  top: 3.3333333333333335px;
}
.nb-popup__close:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nb-popup__buttons {
  padding: 10px;
  padding-top: 10px;
}
.nb-popup__button {
  margin-right: 10px;
}
.nb-popup.ui-dialog-fixed {
  position: fixed !important;
}
.nb-popup-outer.ui-dialog .ui-dialog-content {
  padding: 0;
}
.nb-popup_tail_to_bottom .nb-popup__tail_to_right i,
.nb-popup_tail_to_top .nb-popup__tail_to_right i {
  left: 75%;
}
.nb-popup_tail_to_bottom .nb-popup__tail_to_left i,
.nb-popup_tail_to_top .nb-popup__tail_to_left i {
  left: 25%;
}
.nb-popup_tail_to_left .nb-popup__tail_to_bottom i,
.nb-popup_tail_to_right .nb-popup__tail_to_bottom i {
  top: 75%;
}
.nb-popup_tail_to_left .nb-popup__tail_to_top i,
.nb-popup_tail_to_right .nb-popup__tail_to_top i {
  top: 25%;
}
.nb-popup-outer .nb-popup {
  position: static;
}
.nb-radio-button.ui-buttonset .ui-button {
  margin: 0;
  margin-right: -1px;
}
.nb-radio-button {
  display: inline;
  zoom: 1;
  margin-left: -1px;
  white-space: nowrap;
}
.nb-radio-button .nb-button {
  margin-right: -1px;
}
.nb-radio-button__button .nb-radio-button__radio {
  position: absolute;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
.nb-select {
  max-width: 100%;
  display: inline;
  zoom: 1;
}
.nb-select__fallback {
  display: inline;
  zoom: 1;
}
.nb-select__button {
  display: none;
  max-width: 100%;
  cursor: default;
  text-align: left;
  vertical-align: top;
}
.nb-select .nb-button__text {
  display: block;
  overflow: hidden;
  margin-right: 1em;
  -o-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwb2x5Z29uIHBvaW50cz0iNy4xOTQsMiAzLjk5Niw1LjE5NSAwLjc5OSwyIDAsMi43OTkgMy45OTYsNi43OTQgNy45OTEsMi43OTkiLz48L3N2Zz4=") no-repeat scroll 100% 50% transparent;
}
.nb-select .ui-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 0 1px;
  padding: 0;
  -webkit-overflow-scrolling: touch;
/*LEGO-7899*/
  background: #fff;
}
.nb-select__item {
  cursor: default;
  white-space: nowrap;
}
.nb-select__item.ui-menu-item .nb-select__text {
  -moz-box-sizing: border-box;
  -moz-user-select: none;
  display: inline;
  zoom: 1;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 2.5em;
  padding-top: 0;
  position: relative;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: top;
}
.nb-select__item_selected_yes .nb-select__text:after {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4wMzciIGhlaWdodD0iMTQuOTczIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi4xODctMTkuODQ1YzQuNDE4IDAgOCAzLjU4MiA4IDggMCA0LjQxOS0zLjU4MiA4LTggOHMtOC0zLjU4MS04LThjMC00LjQxOCAzLjU4Mi04IDgtOHoiLz48cGF0aCBkPSJNNi4xODctMTguODQ1Yy0zLjg2NiAwLTcgMy4xMzQtNyA3czMuMTM0IDcgNyA3IDctMy4xMzQgNy03LTMuMTM0LTctNy03ek0xMC4xNzctOS4yOGwtMS40MjYgMS40MjYtMi41NjQtMi41NjQtMi41NjUgMi41NjQtMS40MjYtMS40MjYgMi41NjQtMi41NjQtMi41NjQtMi41NjQgMS40MjYtMS40MjYgMi41NjQgMi41NjQgMi41NjQtMi41NjQgMS40MjYgMS40MjYtMi41NjQgMi41NjQgMi41NjUgMi41NjR6Ii8+PHBhdGggZD0iTTUuMjg3IDE0Ljk3MmwxMC43NS0xMi44MTYtMi4xNzctMi4xNTYtOC41NzMgMTAuNjYxLTMuMTQ0LTQuMTQ4LTIuMTQzIDIuMTIzIDUuMjg3IDYuMzM2eiIvPjwvc3ZnPg==");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: "";
  height: 1em;
  position: absolute;
  right: 1em;
  top: 0.4em;
  width: 1.1em;
}
.i-ua_inlinesvg_no .nb-select__item_selected_yes .nb-select__text:after {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url("../../../../../i/8mHn_Rsr7nJcpTqMcpRQLGAlOAM.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nb-select__item_inner_yes .nb-select__text {
  padding-left: 2em;
}
.nb-select__item_label_yes .nb-select__text {
  font-weight: bold;
}
.nb-select__button {
  cursor: default;
  max-width: 100%;
  text-align: left;
  vertical-align: top;
}
.nb-select__list {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.nb-select__separator {
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  -x-system-font: none;
  border-top-color: -moz-use-text-color;
  border-top-style: solid;
  border-top-width: 1px;
  float: left;
  font-family: a;
  font-size: 0;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 0;
  margin-top: -1px;
  position: relative;
  width: 100%;
  z-index: 3;
}
.nb-select__popup .popup__content {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.nb-select.nb-select_size_m .nb-select__fallback,
.nb-select.nb-select_size_m .nb-select__item,
.nb-select.nb-select_size_m .nb-select__item .nb-select__text {
  font-size: 15px;
  line-height: 32px;
}
.nb-select.nb-select_size_s .nb-select__fallback,
.nb-select.nb-select_size_s .nb-select__item,
.nb-select.nb-select_size_s .nb-select__item .nb-select__text {
  font-size: 13px;
  line-height: 28px;
}
.nb-select_theme_normal,
.nb-select_theme_normal .ui-menu-item {
  font-family: Arial, sans-serif;
}
.nb-select_theme_normal .ui-state-focus,
.nb-select_theme_normal .ui-menu-item_hovered_yes,
.nb-select_theme_normal .ui-menu-item:hover {
  background-color: #ffeba0;
}
.nb-select_theme_normal .ui-menu-item_disabled_yes {
  color: #999;
}
.nb-select__popup_theme_normal .nb-select__separator {
  border-bottom-color: #ddd;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: #ddd;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: #ddd;
  border-top-color: #ddd;
}
.nb-select .ui-menu .ui-menu-item a.ui-state-focus,
.nb-select  .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: 400;
  margin: 0;
}
.nb-checkbox {
  display: inline;
  zoom: 1;
  position: relative;
  font: 0.9376em/1.4667em Arial, sans-serif;
}
.nb-checkbox__input {
  display: none;
}
.nb-checkbox__flag {
  display: inline;
  zoom: 1;
  position: relative;
  width: 16px;
  height: 16px;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.38));
  background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.38));
  background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.38));
  background: -ms-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.38));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.38));
  vertical-align: middle;
}
.nb-checkbox__flag:before,
.nb-checkbox__flag:after {
  display: block;
  position: absolute;
  content: '';
}
.nb-checkbox__flag:before {
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: -webkit-linear-gradient(#fff, #eee);
  background: -moz-linear-gradient(#fff, #eee);
  background: -o-linear-gradient(#fff, #eee);
  background: -ms-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
}
.nb-checkbox__flag_checkbox:after {
  width: 14px;
  height: 5px;
  border: solid transparent;
  border-width: 3px 3px 0 0;
}
.nb-checkbox__flag_radio:after {
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
}
.nb-checkbox__input:checked + .nb-checkbox__flag {
  background: rgba(255,236,166,0.4);
}
.nb-checkbox__input:checked + .nb-checkbox__flag:before {
  background: -webkit-linear-gradient(#ffeca6, #fff6d5);
  background: -moz-linear-gradient(#ffeca6, #fff6d5);
  background: -o-linear-gradient(#ffeca6, #fff6d5);
  background: -ms-linear-gradient(#ffeca6, #fff6d5);
  background: linear-gradient(#ffeca6, #fff6d5);
}
.nb-checkbox__input:checked + .nb-checkbox__flag_radio:after {
  background: #333;
}
.nb-checkbox__input:checked + .nb-checkbox__flag_checkbox:after {
  border-color: rgba(0,0,0,0.85);
}
.nb-checkbox__label {
  margin-left: 4px;
  display: inline;
  zoom: 1;
  vertical-align: middle;
}
.nb-checkbox_size_s {
  font: 0.813em/1.125em Arial, sans-serif;
}
.nb-checkbox_size_s .nb-checkbox__flag {
  width: 14px;
  height: 14px;
  top: 0;
}
.nb-checkbox_size_s .nb-checkbox__flag_checkbox:after {
  top: -1px;
  left: -1px;
}
.nb-progress {
  position: relative;
  background: rgba(0,0,0,0.07);
}
.nb-progress__title {
  font: 0.813em/1.125em Arial, sans-serif;
  white-space: nowrap;
  -o-text-overflow: hellip;
  text-overflow: hellip;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
  line-height: 28px;
  overflow: hidden;
}
.nb-progress_type_title  .nb-progress__title {
  text-align: left;
}
.nb-progress_type_percentage  .nb-progress__title {
  text-align: center;
}
.nb-progress__bar {
  position: relative;
  line-height: 28px;
  height: 28px;
  background: rgba(255,236,166,0.4);
}
.nb-progress__bar:before {
  content: ' ';
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background: #ffeca6;
}
.nb-paranja {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  white-space: nowrap;
}
.nb-paranja:after {
  content: "";
  display: inline;
  zoom: 1;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.nb-paranja_theme_light {
  background: #b3b3b3;
  background: rgba(255,255,255,0.9);
}
.nb-paranja_theme_dark {
  background: #fff;
  background: rgba(0,0,0,0.3);
}
.nb-icon {
  border: none;
  font: 0/0 a;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  top: 3px;
}
.nb-icon_size_s {
  width: 16px;
  height: 16px;
}
.nb-icon_size_m {
  width: 32px;
  height: 32px;
}
.nb-icon_size_l {
  width: 48px;
  height: 48px;
}
.nb-icon_close_16 {
  background-image: url("blocks/icon/close_16.svg");
}
.nb-icon_link_16 {
  background-image: url("blocks/icon/link_16.svg");
}
.nb-icon_link_16_white {
  background-image: url("blocks/icon/link_16_white.svg");
}
.nb-icon_download_16 {
  background-image: url("blocks/icon/download_16.svg");
}
.nb-icon_download_16_white {
  background-image: url("blocks/icon/download_16_white.svg");
}
.nb-icon_eye_16 {
  background-image: url("blocks/icon/eye_16.svg");
}
.nb-icon_trash_16 {
  background-image: url("blocks/icon/trash_16.svg");
}
.nb-icon_trash_16_white {
  background-image: url("blocks/icon/trash_16_white.svg");
}
.nb-icon_three-dots_16 {
  background-image: url("blocks/icon/three-dots_16.svg");
}
.nb-icon_play_16 {
  background-image: url("blocks/icon/play_16.svg");
}
.nb-icon_pause_16 {
  background-image: url("blocks/icon/pause_16.svg");
}
.nb-icon_mail_16 {
  background-image: url("blocks/icon/mail_16.svg");
}
.nb-icon_vk {
  background-image: url("blocks/icon/vk.svg");
}
.nb-icon_twitter {
  background-image: url("blocks/icon/twitter.svg");
}
.nb-icon_odnoklassniki {
  background-image: url("blocks/icon/odnoklassniki.svg");
}
.nb-icon_services {
  background-image: url("blocks/icon/services.svg");
}
.nb-icon_settings {
  background-image: url("blocks/icon/settings.svg");
}
.nb-input {
  padding: 0 8px;
  max-width: 100%;
  background: none;
  border: 0;
  outline: 0 none;
  position: relative;
  z-index: 10;
  font: 86% Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 3px 8px;
}
.nb-input-box:before {
  background: #c4c4c4;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -ms-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.nb-input-box input {
  height: 100%;
  display: inline;
  zoom: 1;
  background-color: #fff;
}
.nb-input-box:after {
  background: #fff;
  bottom: 1px;
  content: "";
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.nb-input-box {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: middle;
}
.nb-input-box.nb-input_focus:before {
  display: none;
}
.nb-input-box.nb-input_size_s input {
  font-size: 13px;
}
.nb-input-box.nb-input_size_s {
  line-height: 28px;
  height: 28px;
}
.nb-input-box.nb-input_size_m input {
  font-size: 16px;
}
.nb-input-box.nb-input_size_m {
  line-height: 32px;
  height: 32px;
}
.nb-input:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 3px;
  bottom: 1px;
  right: 1px;
  width: 36px;
  background: #f00;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0, #fff 20%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0, #fff 20%);
}
.nb-input-group .nb-button:first-child {
  z-index: 10;
}
.nb-input-group .nb-button:first-child:before {
  right: 0;
}
.nb-input-group .nb-button:last-child:before {
  left: 0;
}
.nb-island {
  background: #fff;
  border: 1px solid #ccc;
}
.nb-island.nb-island_padding_s {
  padding: 10px;
}
.nb-island.nb-island_padding_m {
  padding: 16px;
}
.nb-island.nb-island_padding_l {
  padding: 20px;
}
.nb-island.nb-island_type_inline {
  display: inline;
  zoom: 1;
}
.nb-dropzone {
  color: #888;
  position: relative;
  padding: 20px;
  text-align: center;
  border: 3px dashed rgba(0,0,0,0.2);
  margin: 0 20px 20px 20px;
}
.nb-dropzone__head {
  margin-bottom: 8px;
  font: 1.25em/1.125em Arial, sans-serif;
}
.nb-dropzone__text {
  font: 0.813em/1.125em Arial, sans-serif;
  line-height: 24px;
}
.nb-dropzone__button {
  margin-left: 8px;
}
.nb-dropzone_type_modal {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 20px;
  z-index: 120;
  border: 5px dashed #fff;
}
.nb-dropzone_type_modal .nb-dropzone__head {
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -30px;
  text-align: center;
  font-size: 60px;
}
.nb-dropzone_type_modal .nb-dropzone__cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.nb-loader {
  position: relative;
  display: inline;
  zoom: 1;
}
.nb-loader__spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  background: url("blocks/loader/loader_32.svg");
}
.nb-loader_size_s {
  width: 16px;
  height: 16px;
}
.nb-loader_size_m {
  width: 32px;
  height: 32px;
}
.nb-loader__spinner_color_white {
  background-image: url("blocks/loader/loader_32_white.svg");
}
@-o-keyframes spin {
    0%   { -o-transform: rotate(0deg) }
    100% { -o-transform: rotate(360deg) }
  }
  @-moz-keyframes spin {
    0%   { -moz-transform: rotate(0deg) }
    100% { -moz-transform: rotate(360deg) }
  }
  @-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
  }
  @keyframes spin {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
.nb-slider {
  display: inline;
  zoom: 1;
  width: 100%;
  position: relative;
}
.nb-slider__fallback {
  display: inline;
  zoom: 1;
}
.nb-slider__body {
  display: none;
  position: relative;
  z-index: 7;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.nb-slider_disabled_yes .nb-slider__body {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
.nb-slider__body:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 1px;
  right: 1px;
  top: 0;
  margin: 0;
  height: 6px;
}
.nb-slider_theme_normal .nb-slider__body:before {
  background-color: rgba(0,0,0,0.07);
}
.nb-slider.nb-slider_orientation_horiz .nb-slider__body .ui-slider-range {
  position: absolute;
  z-index: 2;
  height: 6px;
  top: 0;
  margin-left: 1px;
  margin-right: -1px;
  background: rgba(255,236,166,0.4);
}
.nb-slider.nb-slider_orientation_horiz .nb-slider__body .ui-slider-range:before {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background: #ffeca6;
}
.nb-slider .nb-slider__body .nb-slider__handle {
  z-index: 6;
  top: 0;
  margin: 0;
}
.nb-slider_animation_yes .nb-slider__handle {
  -webkit-transition: left 0.25s ease, bottom 0.25s ease;
  -moz-transition: left 0.25s ease, bottom 0.25s ease;
  -o-transition: left 0.25s ease, bottom 0.25s ease;
}
.nb-slider_animation_yes .ui-slider-range {
  -webkit-transition: width 0.25s ease, left 0.25s ease, height 0.25s ease, bottom 0.25s ease;
  -moz-transition: width 0.25s ease, left 0.25s ease, height 0.25s ease, bottom 0.25s ease;
  -o-transition: width 0.25s ease, left 0.25s ease, height 0.25s ease, bottom 0.25s ease;
}
.nb-slider_theme_normal {
  font-family: Arial, sans-serif;
}
.nb-slider.nb-slider_size_s .nb-slider__body {
  height: 10px;
}
.nb-slider.nb-slider_size_s .nb-slider__body:before,
.nb-slider.nb-slider_size_s .nb-slider__body .ui-slider-range {
  top: 3px;
}
.nb-slider.nb-slider_size_s .nb-slider__body  .nb-slider__handle {
  margin-left: -5px;
  height: 10px;
  width: 10px;
}
.nb-slider.nb-slider_size_m .nb-slider__body {
  height: 16px;
}
.nb-slider.nb-slider_size_m .nb-slider__body:before,
.nb-slider.nb-slider_size_m .nb-slider__body .ui-slider-range {
  top: 6px;
}
.nb-slider.nb-slider_size_m .nb-slider__body  .nb-slider__handle {
  margin-left: -8px;
  height: 16px;
  width: 16px;
}
.nb-slider.nb-slider_size_l .nb-slider__body {
  height: 20px;
}
.nb-slider.nb-slider_size_l .nb-slider__body:before,
.nb-slider.nb-slider_size_l .nb-slider__body .ui-slider-range {
  top: 8px;
}
.nb-slider.nb-slider_size_l .nb-slider__body .nb-slider__handle {
  margin-left: -10px;
  height: 20px;
  width: 20px;
}
.nb-tabs__tab,
.nb-tabs__tabs,
.nb-tabs__link {
  position: relative;
  top: 0;
  display: inline;
  zoom: 1;
  white-space: nowrap;
  outline: none;
}
.nb-tabs__tab {
  margin-left: 16px;
  list-style: none;
}
.nb-tabs__link:after {
  display: none;
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  border-bottom: 2px solid;
}
.ui-state-active .nb-tabs__link {
  color: #000;
}
.ui-state-active .nb-tabs__link:after {
  display: block;
}
.ui-tabs-active .nb-tabs__link,
.ui-state-disabled .nb-tabs__link {
  cursor: default;
}
.nb-tabs__panel {
  margin: 10px 0;
}
.nb-tabs__link {
  top: -1px;
}
.ui-state-active .nb-tabs__link {
  border-top: 2px solid;
}
.nb-tabs_size_s .nb-tabs__tabs {
  font: 0.9376em/1.4667em Arial, sans-serif;
  line-height: 29px;
}
.nb-tabs_size_m .nb-tabs__tabs {
  line-height: 35px;
}
.nb-tabs_rise_s {
  margin-top: -10px;
}
.nb-tabs_rise_m {
  margin-top: -16px;
}
.nb-tabs_rise_l {
  margin-top: -20px;
}
.nb-arrow {
  vertical-align: top;
  position: relative;
  margin-right: 10px;
}
.nb-arrow_service {
  display: inline;
  zoom: 1;
}
.nb-arrow__top,
.nb-arrow__bottom {
  position: absolute;
  left: 0px;
  width: 100%;
}
.nb-arrow__content {
  position: relative;
  z-index: 3;
  padding: 5px;
}
.nb-arrow__top,
.nb-arrow__bottom,
.nb-arrow__content {
  background: -webkit-linear-gradient(top right, #ffdb4c 0, #fc0 100%);
  background: -moz-linear-gradient(top right, #ffdb4c 0, #fc0 100%);
  background: -o-linear-gradient(top right, #ffdb4c 0, #fc0 100%);
  background: -ms-linear-gradient(top right, #ffdb4c 0, #fc0 100%);
  background: linear-gradient(to bottom left, #ffdb4c 0, #fc0 100%);
}
.nb-arrow__top {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  height: 50%;
  top: 0;
}
.nb-arrow__bottom {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  height: 50%;
  bottom: 0;
}
.nb-arrow_service .nb-arrow__top,
.nb-arrow_service .nb-arrow__bottom,
.nb-arrow_service .nb-arrow__content {
  background: #ffdb4c;
}
._link.nb-arrow__service__name {
  display: inline;
  zoom: 1;
  line-height: 32px;
  padding: 0px 9px;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
}
.nb-arrow__input__wrap {
  overflow: hidden;
  position: relative;
}
.nb-arrow__button {
  float: right;
  margin: 0px 10px 0px 6px;
}
.nb-arrow__name__wrap {
  float: left;
  position: relative;
}
._link.nb-arrow__name {
  border-right: 1px solid rgba(0,0,0,0.08);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.02) 0, rgba(255,225,120,0.1) 100%);
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.02) 0, rgba(255,225,120,0.1) 100%);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.02) 0, rgba(255,225,120,0.1) 100%);
  background: -ms-linear-gradient(bottom, rgba(0,0,0,0.02) 0, rgba(255,225,120,0.1) 100%);
  background: linear-gradient(to top, rgba(0,0,0,0.02) 0, rgba(255,225,120,0.1) 100%);
  line-height: 32px;
  padding: 0 12px;
  font-size: 16px;
  color: #000;
  display: inline;
  zoom: 1;
  position: relative;
  z-index: 1;
}
.nb-arrow__name__wrap:before {
  background: #c4c4c4;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -ms-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.nb-arrow__name__wrap:after {
  background: #fff;
  bottom: 1px;
  content: "";
  left: 1px;
  position: absolute;
  right: 0;
  top: 1px;
}
.nb-arrow__name__wrap + .nb-arrow__input__wrap .nb-arrow__input:after {
  left: 0;
}
.nb-arrow__name__wrap_focus:before {
  display: none;
}
.nb-arrow__input,
.nb-arrow__input input {
  width: 100%;
}
.nb-arrow__requests__wrap {
  position: absolute;
  top: 5px;
}
.nb-arrow__requests {
  color: #bbb;
  z-index: 1;
  font-size: 13px;
  line-height: 32px;
  white-space: nowrap;
  display: inline;
  zoom: 1;
}
.nb-arrow__input_fake {
  padding: 0 8px;
  font-size: 16px;
  line-height: 32px;
  visibility: hidden;
}
.nb-header {
  min-width: 700px;
}
.nb-header__actions {
  float: right;
  margin-right: 10px;
}
.nb-header__main {
  overflow: hidden;
}
.nb-header__logo {
  display: inline;
  zoom: 1;
  background: url("blocks/header/yandex.svg") 50% 50% no-repeat;
  width: 138px;
  height: 42px;
}
.nb-header__arrow {
  display: inline;
  zoom: 1;
  width: 60%;
}
.nb-header__button {
  display: inline;
  zoom: 1;
  margin-right: 10px;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  position: relative;
  cursor: pointer;
}
.nb-header__button:hover {
  background: #cecece;
}
.nb-header__button:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  background: #fff;
}
.nb-header__button .nb-header__button__icon {
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
  display: inline;
  zoom: 1;
  margin-left: 3px;
}
.nb-header__button_pressed {
  background: #fff7db;
}
.nb-header__button_pressed:before {
  background: #ffeca6;
  background: -webkit-linear-gradient(top, #ffeca6 0, #fff6d5 100%);
  background: -moz-linear-gradient(top, #ffeca6 0, #fff6d5 100%);
  background: -o-linear-gradient(top, #ffeca6 0, #fff6d5 100%);
  background: -ms-linear-gradient(top, #ffeca6 0, #fff6d5 100%);
  background: linear-gradient(to bottom, #ffeca6 0, #fff6d5 100%);
}
.nb-header__button_pressed .nb-header__button__icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nb-user {
  cursor: pointer;
  display: inline;
  zoom: 1;
  position: relative;
}
.nb-user__pseudo {
  display: inline;
  zoom: 1;
  width: 100%;
}
.nb-user__avatar {
  display: inline;
  zoom: 1;
  vertical-align: middle;
  position: relative;
  background-position: 50% 50%;
}
.nb-user__notice-count {
  position: absolute;
  right: -4px;
  top: -4px;
  background: #f00;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  width: 15px;
  height: 15px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}
.nb-user__label {
  display: inline;
  zoom: 1;
  vertical-align: middle;
  text-align: left;
}
.nb-user_size_m {
  font-size: 15px;
  height: 42px;
}
.nb-user_size_m .nb-user__avatar {
  width: 42px;
  height: 42px;
}
.nb-user_size_s {
  font-size: 13px;
  height: 32px;
}
.nb-user_size_s .nb-user__avatar {
  width: 32px;
  height: 32px;
}
.nb-user_direction_ltr .nb-user__avatar {
  margin-left: 0;
}
.nb-user_direction_ltr .nb-user__label {
  margin-left: 10px;
}
.nb-user_direction_rtl .nb-user__avatar {
  margin-left: 10px;
}
.nb-user_direction_rtl .nb-user__label {
  margin-left: 0;
}
.nb-user__email {
  color: #999;
}
.nb-user__name,
.nb-user__email {
  display: block;
}
.nb-user_size_m {
  line-height: 18px;
}
.nb-user_size_s {
  line-height: 15.6px;
}
.nb-user__email {
  font-size: 0.95em;
}
.nb-user__name._link {
  color: #000;
}
.nb-user__name:first-letter,
.nb-user:hover .nb-user__name {
  color: #d00;
}
.nb-user_justify {
  display: block;
  text-align: justify;
}
.nb-user_justify .nb-user__label {
  display: block;
}
.nb-user_justify .nb-user__name,
.nb-user_justify .nb-user__email {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.nb-user_justify .nb-user__avatar {
  position: absolute;
  top: 0;
}
.nb-user_justify.nb-user_direction_rtl .nb-user__avatar {
  right: 0;
}
.nb-user_justify.nb-user_direction_rtl.nb-user_size_s .nb-user__label {
  margin-right: 42px;
}
.nb-user_justify.nb-user_direction_rtl.nb-user_size_m .nb-user__label {
  margin-right: 52px;
}
.nb-user_justify.nb-user_direction_ltr .nb-user__avatar {
  left: 0;
}
.nb-user_justify.nb-user_direction_ltr.nb-user_size_s .nb-user__label {
  margin-left: 42px;
}
.nb-user_justify.nb-user_direction_ltr.nb-user_size_m .nb-user__label {
  margin-left: 52px;
}
.nb-user_justify.nb-user_size_m .nb-user__label {
  padding-top: 3px;
}
.nb-user_justify.nb-user_size_m .nb-user__name:only-child {
  top: 9px;
}
.nb-user_justify.nb-user_size_s .nb-user__label {
  padding-top: 0.40000000000000036px;
}
.nb-user_justify.nb-user_size_s .nb-user__name:only-child {
  top: 7.8px;
}
.nb-suggest {
  padding: 0;
}
.nb-suggest .ui-menu-item a {
  padding: 3px 8px;
}
.nb-suggest.ui-menu {
  margin-top: 1px;
}
.nb-suggest.ui-menu .ui-menu-item a.ui-state-focus,
.nb-suggest.ui-menu .ui-menu-item a.ui-state-active {
  margin: 0;
  background: #ffeba0;
}
.nb-suggest_size_s .ui-menu-item a {
  font-size: 13px;
  line-height: 28px;
}
.nb-suggest_size_m .ui-menu-item a {
  font-size: 15px;
  line-height: 32px;
}
IMG {
  border: 0;
}
._hidden {
  display: none !important;
}
._link {
  color: #22c;
  cursor: pointer;
}
a._link {
  text-decoration: none;
}
._link:hover {
  color: #d00;
}
._link_outer {
  color: #070;
}
