// Settings for stylobate-islands
@import "node_modules/stylobate"
rem = rem_px
@import "node_modules/stylobate-islands"
set-skin-namespace('islands')

// Import all the things
// @import "blocks/vars/if-ie.styl"
@import "blocks/vars/colors.styl"
@import "blocks/vars/layout.styl"
@import "blocks/button/button.styl"
@import "blocks/popup/popup.styl"
@import "blocks/radio-button/radio-button.styl"
@import "blocks/select/select.styl"
@import "blocks/checkbox/checkbox.styl"
@import "blocks/progress/progress.styl"
@import "blocks/paranja/paranja.styl"
@import "blocks/icon/icon.styl"
@import "blocks/input/input.styl"
@import "blocks/input-group/input-group.styl"
@import "blocks/island/island.styl"
@import "blocks/dropzone/dropzone.styl"
@import "blocks/loader/loader.styl"
@import "blocks/slider/slider.styl"
@import "blocks/tabs/tabs.styl"
@import "blocks/arrow/arrow.styl"
@import "blocks/header/header.styl"
@import "blocks/user/user.styl"
@import "blocks/suggest/suggest.styl"
@import "blocks/toggler/toggler.styl"
@import "global.styl"
