$svg ?= {}

.nb-icon
  kind: icon (size 16px 16px)

  // Move this to a skin?
  .nb-button &
  .nb-select-text &
    margin-right: $islands_xs
    margin-left: -1*$islands_xs

  .nb-with-only-button &
    margin-right: -1*$islands_xs
    margin-left: -1*$islands_xs

$svg-icons = 'close' 'download' 'upload' 'eye' 'link' 'trash' 'people' 'help' 'print' 'attention' 'three-dots' 'play' 'pause' 'mail' 'link-white' 'download-white' 'upload-white' 'trash-white' 'vk' 'twitter' 'odnoklassniki'


$svg["sizes"] = {
  s:  1.6*rem,
  m:  3.2*rem
}

for $size-name, $size-value in $svg.sizes
  for $icon in $svg-icons
    .nb-{$size-name}-{$icon}-icon
      background-image: url($icon + '.svg')
      width:  $size-value
      height:  $size-value


// Compensate visual shift for link icon
.nb-icon-link
  left: 2px
