$svg ?= {}

.nb-icon
  kind: icon (size 16px 16px)

  // Move this to a skin?
  .nb-button &
  ._nb-select-a &
    margin-right: $islands_xs
    margin-left: -1*$islands_xs

  ._nb-with-only-button &
    margin-right: -1px + (-1*$islands_xs)
    margin-left: -1px + (-1*$islands_xs)

$svg-icons = 'close' 'download' 'upload' 'eye' 'link' 'trash' 'people' 'help' 'print' \
    'services' 'settings' 'attention' 'three-dots' 'play' 'pause' 'mail' 'link-white' \
    'download-white' 'upload-white' 'trash-white' 'vk' 'twitter' 'odnoklassniki' 'shared' \
    'published' 'new-folder' 'view-tiles' 'view-icons' 'view-list' 'compose' 'compose-yellow' \
    'full-screen-white' 'next' 'prev' 'volume' 'zoom-white' 'vkontakte-square-white' \
    'facebook-square-white' 'odnoklassniki-square-white' 'vkontakte-square-black' \
    'facebook-square-black' 'odnoklassniki-square-black' 'move' 'copy' 'world' 'friends' 'lock' \
    'apple' 'android'

$svg["sizes"] = {
  s:  1.6*rem,
  m:  3.2*rem
}


for $size-name, $size-value in $svg.sizes
  for $icon in $svg-icons
    .nb-{$size-name}-{$icon}-icon
      background-image: url($icon + '.svg')
      width:  $size-value
      height:  $size-value

.nb-s-new-folder-icon
  width: 25px

.nb-m-new-folder-icon
  width: 50px

// Compensate visual shift for link icon
.nb-s-icon-link
  left: 2px
