.nb-icon
  kind: icon (size 16px 16px)

  // Move this to a skin?
  .nb-button &
  .nb-select__text &
    margin-right: $islands_xs
    margin-left: -1*$islands_xs

  .nb-button_only-icon &
    margin-right: -1*$islands_xs
    margin-left: -1*$islands_xs

$svg-icons = \
  close download upload eye link trash people help print attention \
  three-dots play pause mail \
  link_white download_white upload_white trash_white \
  vk twitter odnoklassniki

for $icon in $svg-icons
  .nb-icon_{$icon}
    background-image: url($icon + '.svg')

// Compensate visual shift for link icon
.nb-icon_link
  left: 2px

.nb-icon_size_s
  width: 16px
  height: 16px

.nb-icon_size_m
  width: 32px
  height: 32px

.nb-icon_size_l
  width: 48px
  height: 48px
