.nb-dialog_theme_normal
  .nb-dialog__actions
    box-shadow: inset 0 1px rgba($foreground, 0.15), 0 -2px rgba($foreground, 0.04)

.nb-dialog_theme_light
  .nb-dialog__content
    padding-top: $gapL
    padding-bottom: $gapL
