.nb-dialog
  position: absolute
  z-index: 100

  min-width: 400px

.nb-dialog__header
  background: $backgroundPrimary
  padding: 0 $gapM
  height: 50px
  line-height: @height
  border-bottom: 1px solid darken($background, 16%)

.nb-dialog__close
  float: right
  opacity: 0.3

.nb-dialog__content
.nb-dialog__actions
  padding: $gapS $gapM

.nb-dialog__actions
  margin-top: -1px
  padding-top: $gapS + 1px

  box-shadow: inset 0 1px rgba($foreground, 0.15), 0 -2px rgba($foreground, 0.04)

.nb-dialog__pull_right
  float: right
