// We need to deprecate `_hidden` somehow
._hidden,
.nb-is-hidden
  kind: hidden

// global class for links
._link
  color: #22C
  cursor: pointer
  transition: color .15s ease-out

a._link
  text-decoration: none

._link:hover
  color: #D00

._link_outer
  color: #070

// We need to deprecate is-disabled in favor of nb-is-disabled
.is-disabled,
.nb-is-disabled
  kind: disabled 0.6
