// global classes for block margins
// Example: .nb-gap_top_s .nb-gap_right_m

for gap-side in 'top' 'left' 'bottom' 'right'
  for $size_name, $size in $islands.sizes
    .nb-gap_{gap-side}_{$size_name}
      margin-{gap-side}: $size

// global hidden class
// FIXME: change `_hidden` from nanoblocks to proper `is-nb-hidden`
._hidden,
.is-nb-hidden
  kind: hidden

// global class for links
._link
  color: #22C
  cursor: pointer
  transition: color .15s ease-out

a._link
  text-decoration: none

._link:hover
  color: #D00

._link_outer
  color: #070

.is-nb-disabled
  skin: disabled
