@import "vars/colors.styl"
@import "vars/layout.styl"
@import "button/button.styl"
@import "popup/popup.styl"
@import "radio-button/radio-button.styl"
@import "select/select.styl"
@import "checkbox/checkbox.styl"
@import "progress/progress.styl"
@import "paranja/paranja.styl"
@import "icon/icon.styl"
@import "input/input.styl"
@import "input-group/input-group.styl"
@import "island/island.styl"
@import "dropzone/dropzone.styl"
@import "loader/loader.styl"
@import "slider/slider.styl"
@import "dialog/dialog.styl"


IMG
  border: 0


._hidden
  display: none !important


._link
  color: #22C
  cursor: pointer
  transition: color .15s ease-out

a._link
  text-decoration: none

._link:hover
  color: #D00

._link_outer
  color: #070
