.nb-group
  skin: group \
    (__item   '&-item')   \
    (__start  '&-start')  \
    (__middle '&-middle') \
    (__middle '&-middle') \
    (__end    '&-end')

.nb-complex-group-item
  skin: nested-group__item '.nb-complex-group-item-subject'
