nb-input-group()

  .input-group .nb-button:first-child
    border-radius: 3px 0px 0px 3px
    z-index: 10

  .input-group .nb-button:first-child:before
    border-radius: 2px 0px 0px 2px
    right: 0px

  .input-group .nb-button:last-child
      border-radius: 0px 3px 3px 0px

  .input-group .nb-button:last-child:before
    border-radius: 0px 2px 2px 0px
    left: 0px

nb-input-group()
