.nb-header
  min-width: 700px

.nb-header__right
  float: right
  margin-right: $gapS

.nb-header__left
  overflow: hidden

.nb-header__logo
  display: inline-block
  background: url('yandex.svg') 50% 50% no-repeat
  width: 138px
  height: 42px

.nb-header__arrow
  display: inline-block
  width: 60%

.nb-header__avatar
  display: inline-block
  margin-left: $gapXS
  vertical-align: middle
  border-radius: 50%
  position: relative

  background-size: cover
  background-position: 50% 50%
  box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.15)

  width: 42px
  height: 42px

.nb-header__notice-count
  position: absolute
  right: -4px
  top: -4px

  user-select: none

  background: #ff0000
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1), 0 5px 10px -5px rgba(0, 0, 0, 0.5)

  color: #fff
  font-weight: bold

  border-radius: 50%
  border: 2px solid $background

  width: 15px
  height: 15px

  font-size: 13px
  line-height: 15px
  text-align: center

.nb-header__username._link
  font: 15px/80% Arial,Helvetica,sans-serif
  color: #000
  user-select: none
  display: inline-block
  padding-left: $gapS

.nb-header__username:first-letter,
.nb-header__account:hover .nb-header__username
  color: #d00

.nb-header__button
  display: inline-block

  margin-right: $gapS
  vertical-align: middle
