._nb-simple-input
  skin: v3-input

._nb-small-simple-input
  skin: v3-input (_size small)

._nb-large-simple-input
  skin: v3-input (_size large)

// Redefining default for complex inputs below
stylobate_defaults('skin-islands-v3-input',
  '_reset',
  '__box',
  '__controller' '& ._nb-input-controller',
  '__view' '& ._nb-input-view',
  '_focus' '& :focus + ._nb-input-view',
  '_size' medium,
  '__placeholder' '& ._nb-input-hint',
  '__left' '& ._nb-input-left',
  '__right' '& ._nb-input-right',
  '__content' '& ._nb-input-content',
  '__reset' '& ._nb-input-reset'
  )

stylobate_defaults('skin-islands-v3-input__placeholder',
  '__inner' '&-inner',
  '__ghost' '&-ghost'
  )

._nb-complex-input
  skin: v3-input

._nb-small-complex-input
  skin: v3-input (_size small)

._nb-large-complex-input
  skin: v3-input (_size large)


.nb-input._nb-is-ghost:not(._nb-is-focused) ._nb-input-view
  border: none
  background: none
  box-shadow: none


.nb-input._nb-is-wrong
  skin: input_error

// Overriding Webkit's default background color for autofilled inputs
// to ensure consistent appearance across platforms.
._nb-input-controller:-webkit-autofill
  // NOTE: Cannot use `background` because native Webkit styles `!important`-ize
  // default background color.
  box-shadow: inset 0 0 0 900px $backgroundAutofill

._nb-input-controller:-webkit-autofill + ._nb-input-view
  background: $backgroundAutofill

._nb-input-hint
  visibility: hidden