.nb-input .nb-input__input
  kind: input 190px
  skin: input

.nb-input_size_s > .nb-input__input
  skin: input small
  // reset default styles for <input type="search"/>
  -webkit-appearance: textfield

