nb-user()

  $s = 32px
  $m = 42px

  $fzs = 13px
  $fzm = 15px

  $lhs = $fzs * 1.2
  $lhm = $fzm * 1.2

  .nb-user
    cursor: pointer
    display: inline-block
    position: relative

  .nb-user__pseudo
    display: inline-block
    width: 100%

  .nb-user__avatar
    display: inline-block
    vertical-align: middle
    border-radius: 50%
    position: relative

    background-size: cover
    background-position: 50% 50%
    box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.15)

  .nb-user__notice-count
    position: absolute
    right: -4px
    top: -4px

    user-select: none

    background: #ff0000
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1), 0 5px 10px -5px rgba(0, 0, 0, 0.5)

    color: #fff
    font-weight: bold

    border-radius: 50%
    border: 2px solid $background

    width: 15px
    height: 15px

    font-size: 13px
    line-height: 15px
    text-align: center

  .nb-user__label
    display: inline-block
    vertical-align: middle
    text-align: left

  .nb-user_size_m
    font-size: $fzm
    height: $m

    .nb-user__avatar
      width: $m
      height: $m

  .nb-user_size_s
    font-size: $fzs
    height: $s

    .nb-user__avatar
      width: $s
      height: $s

  .nb-user_direction_ltr
    .nb-user__avatar
      margin-left: 0

    .nb-user__label
      margin-left: $gapS

  .nb-user_direction_rtl
    .nb-user__avatar
      margin-left: $gapS

    .nb-user__label
      margin-left: 0

  .nb-user__email
    color: #999

  .nb-user__name
  .nb-user__email
    display: block

  .nb-user_size_m
    line-height: $lhm
  .nb-user_size_s
    line-height: $lhs

  .nb-user__email
    font-size: 0.95em

  .nb-user__name._link
    color: #000

  .nb-user__name:first-letter
  .nb-user:hover .nb-user__name
    color: #d00


  .nb-user_justify
    display: block
    text-align: justify

    .nb-user__label
      display: block

    .nb-user__name
    .nb-user__email
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      position: relative

    .nb-user__avatar
      position: absolute
      top: 0

    &.nb-user_direction_rtl
      .nb-user__avatar
        right: 0

      &.nb-user_size_s
        .nb-user__label
          margin-right: ($s + $gapS)

      &.nb-user_size_m
        .nb-user__label
          margin-right: ($m + $gapS)

    &.nb-user_direction_ltr
      .nb-user__avatar
        left: 0

      &.nb-user_size_s
        .nb-user__label
          margin-left: ($s + $gapS)

      &.nb-user_size_m
        .nb-user__label
          margin-left: ($m + $gapS)


    &.nb-user_size_m
      .nb-user__label
        padding-top: ($m/2 - $lhm)

      .nb-user__name:only-child
        top: ($lhm/2)

    &.nb-user_size_s
      .nb-user__label
        padding-top: ($s/2 - $lhs)

      .nb-user__name:only-child
        top: ($lhs/2)


nb-user()
