nb-user()

  $s = 32px
  $m = 42px

  $fzs = 13px
  $fzm = 15px

  $lhs = $fzs * 1.2
  $lhm = $fzm * 1.2

  .nb-user
    cursor: pointer
    display: inline-block
    position: relative

    &:after
      content: ""
      display: table
      width: 100%
      height: 0
      visibility: hidden

  ._nb-user-pseudo
    display: inline-block
    width: 100%

  .nb-user-avatar
    display: inline-block
    vertical-align: middle
    border-radius: 50%
    position: relative

    background-size: cover
    background-position: 50% 50%
    box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.15)
    background-image: url('avatar.png')

  ._nb-user-notice-count
    position: absolute
    right: -4px
    top: -4px

    user-select: none

    background: #ff0000
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1), 0 5px 10px -5px rgba(0, 0, 0, 0.5)

    color: #fff
    font-weight: bold

    border-radius: 50%
    border: 2px solid $background

    width: 15px
    height: 15px

    font-size: 13px
    line-height: 15px
    text-align: center

  ._nb-user-label
    display: inline-block
    vertical-align: middle
    text-align: left

  ._nb-normal-user
    font-size: $fzm

    .nb-user-avatar
      width: $m
      height: $m

  ._nb-small-user
    font-size: $fzs

    .nb-user-avatar
      width: $s
      height: $s

  ._nb-user_ltr
    .nb-user-avatar
      margin-left: 0

    ._nb-user-label
      margin-left: $gapS

  ._nb-user_rtl
    .nb-user-avatar
      margin-left: $gapS

    ._nb-user-label
      margin-left: 0

  ._nb-user-email
    color: #999

  ._nb-user-name
  ._nb-user-email
    display: block

  ._nb-normal-user
    line-height: $lhm
  ._nb-small-user
    line-height: $lhs

  ._nb-user-email
    font-size: 0.95em

  ._nb-user-name._link
    color: #000

  ._nb-user-name:first-letter
  ._nb-user:hover ._nb-user-name
    color: #d00


  ._nb-user_justify
    display: block
    text-align: justify

    ._nb-user-label
      display: block

    ._nb-user-name
    ._nb-user-email
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      position: relative

  ._nb-user_justify._nb-user_rtl
    .nb-user-avatar
      float: right

  ._nb-user_justify._nb-user_rtl._nb-small-user
    ._nb-user-label
      margin-right: ($s + $gapS)

  ._nb-user_justify._nb-user_rtl._nb-normal-user
    ._nb-user-label
      margin-right: ($m + $gapS)

  ._nb-user_justify._nb-user_ltr
    .nb-user-avatar
      float: left

  ._nb-user_justify._nb-user_ltr._nb-small-user
    ._nb-user-label
      margin-left: ($s + $gapS)

  ._nb-user_justify._nb-user_ltr._nb-normal-user
    ._nb-user-label
      margin-left: ($m + $gapS)


  ._nb-user_justify._nb-small-user
    ._nb-user-label
      padding-top: ($m/2 - $lhm)

    ._nb-user-name:only-child
      top: ($lhm/2)

  ._nb-user_justify._nb-small-user
    ._nb-user-label
      padding-top: ($s/2 - $lhs)

    ._nb-user-name:only-child
      top: ($lhs/2)


nb-user()
