/**
 * Переменные лейаута.
 * Принцип именования переменных раскладки: $<имя-блока>--<имяПеременной>.
 * Сейчас кажется, что в именах переменных общего назначения (цвет, шрифт)
 * префикс в виде имени блока не требуется и записывается в виде $<имяПеременной>
 */
$b-bar_bottom--height = 48px
$b-bar_top--height = 70px
$b-bar_items--height = 48px
$b-panel_aside--width = 320px

$gapL = 20px
$gapM = 16px
$gapS = 10px
$gapXS = 6px


$fontFamily = Arial, sans-serif
//      15px  /  22px
$font-p1 = 0.9376em\/1.4667em $fontFamily
$font-p2 = 0.813em\/1.125em $fontFamily