.nb-tabs
  kind: block
  skin: tabs

._nb-tabs-tab
  reset('li')
  kind: block inline

._nb-tabs-link
  skin: tabs-item
  kind: block

.ui-state-active ._nb-tabs-link,
.ui-state-active:hover ._nb-tabs-link
  skin: tabs-item_selected

._nb-small-tabs
  kind: block
  skin: tabs small

._nb-small-rise-s-tabs,
._nb-rise-s-tabs,
._nb-small-rise-m-tabs,
._nb-rise-m-tabs,
._nb-small-rise-l-tabs
._nb-rise-l-tabs
  margin-top: -1*$islands_m
  margin-bottom: $islands_s
