.nb-tabs
  kind: block
  skin: tabs

.nb-tabs-tab
  reset('li')
  kind: block inline

.nb-tabs-link
  skin: tabs-item
  kind: block

.ui-state-active .nb-tabs-link,
.ui-state-active:hover .nb-tabs-link
  skin: tabs-item_selected

.nb-small-tabs
  kind: block
  skin: tabs small

.nb-small-rise-s-tabs,
.nb-rise-s-tabs,
.nb-small-rise-m-tabs,
.nb-rise-m-tabs,
.nb-small-rise-l-tabs
.nb-rise-l-tabs
  margin-top: -1*$islands_m
  margin-bottom: $islands_s
