nb-radio-button()

  .nb-radio-button
    display: inline-block
    margin-left: -1px
    white-space: nowrap

    .nb-button
      margin-right: -1px

    .nb-button
    .nb-button:before
      border-radius: 0

    .nb-button:first-child
      border-radius: 3px 0 0 3px

    .nb-button:first-child:before
      border-radius: 2px 0 0 2px

    .nb-button:last-child
      border-radius: 0 3px 3px 0

    .nb-button:last-child:before
      border-radius: 0 2px 2px 0






nb-radio-button()
