._nb-radio-button-radio
  kind: hidden visually

.nb-button
  skin: v3-button_ (__content '& ._nb-button-content') \
        (_checked '._nb-radio-button-radio:checked + &') \
        (_focus '._nb-radio-button-radio:focus + &')
