// global classes for block margins
// Example: .nb-gap_top_s .nb-gap_right_m

for $gap-side in 'top' 'left' 'bottom' 'right'
  for $gap-size-name, $gap-size-value in $islands.sizes
    .nb-{$gap-size-name}-{$gap-side}-gap
      margin-{$gap-side}: $gap-size-value
