body, html {
    margin: 0;
    padding: 0;
}

.tests {
    padding: 1em;
}

.test__name {
	font-size: 1.2em;
	padding: 0.3em;
}

.test {
    border-bottom: 1px solid;
    padding-bottom: 1em;
}

.test .test__name {
	color: #693;
}

.test_failed .test__name {
    color: #933;
}

pre {
    background: #dda;
}

.screenshot {
    overflow: hidden;
}

.test__line {
    margin: 0.5em;
}