.nb-dropzone
  color: $foregroundMuted
  position: relative
  padding: 20px
  text-align: center
  border: 3px dashed rgba(0,0,0,.2)
  border-radius: 10px
  box-shadow:  0 0  1px rgba(255, 255, 255, .8) inset
  margin: 0 $gapL $gapL $gapL

.nb-dropzone__head
  margin-bottom: 8px
  font: $font-h3

.nb-dropzone__text
  font: $font-p2
  line-height: 24px

.nb-dropzone__button
  margin-left:  8px
  
.nb-dropzone_type_modal
  color:  $foregroundSecondary
  position: fixed
  top:  0
  left:  0
  bottom:  0
  right: 0
  margin-top: $gapL
  z-index:  120

  box-shadow: none
  
  border: 5px dashed rgba(255,255,255, 1)

  .nb-dropzone__head
    margin-bottom: 0
    position: absolute
    top: 50%
    width:  100%
    margin-top: -30px
    text-align: center
    font-size: 60px

  .nb-dropzone__cover
    position: absolute
    top:  0
    right:  0
    left:  0
    bottom:  0


