.nb-dropzone
  margin: 0 $gapL $gapL $gapL
  position: relative
  padding: 20px
  text-align: center

.nb-dropzone_type_static
  color: rgba(0,0,0,.8)
  background: #ecebe9
  cursor: pointer

.nb-dropzone_type_static:before
  border: 2px dashed rgba(0,0,0,.2)
  content: ""
  position: absolute
  top: 0px
  bottom: 0px
  left: 0px
  right: 0px

.nb-dropzone_type_static:hover
  background: #e2e1df

.nb-dropzone__head
  margin-bottom: 8px
  font: $font-h3

.nb-dropzone__text
  font-size: 13px
  line-height: 24px

.nb-dropzone__button
  margin-left:  8px
  
.nb-dropzone_type_modal
  color:  $foregroundSecondary
  position: fixed
  top:  0
  left:  0
  bottom:  0
  right: 0
  margin-top: $gapL
  z-index:  120

  box-shadow: none
  
  border: 5px dashed rgba(255,255,255, 1)

  .nb-dropzone__head
    margin-bottom: 0
    position: absolute
    top: 50%
    width:  100%
    margin-top: -30px
    text-align: center
    font-size: 60px

  .nb-dropzone__cover
    position: absolute
    top:  0
    right:  0
    left:  0
    bottom:  0


