/**
 * Background Colors
 */

// Used in Header
$background          = #FFF
// Listing, etc.
$backgroundPrimary   = #F6F5F3
// Panel (right)
$backgroundNotice    = #E8E7E4
// Generally inverted Primary, Bar (bottom)
$backgroundSecondary = #393837
// Selection color
$backgroundSelected = #FFEB99

$bgMenuItemSelected = #FFEBA0


/**
 * Foreground Colors — fonts, borders, etc.
 */
$foreground          = #000
$foregroundMuted     = #888
$foregroundMutedMore = #999
// For Elements with secondary background
$foregroundSecondary = #FFF

$foregroundBorder    = rgba-ie($foreground, 0.15, $background)

$patch               = #FF6665

$backgroundHover = rgba-ie($backgroundSelected, 0.45, $background)

// цвет обычной ссылки
$link                = #22c