nb-checkbox_size()

  $checkbox-size-S = 14px

  ._nb-small-checkbox

    font: $font-p2

  ._nb-small-checkbox ._nb-checkbox-flag
    width: $checkbox-size-S
    height: $checkbox-size-S

    top: 0

  ._nb-small-checkbox-checkbox ._nb-checkbox-flag:after
    top: -1px
    left: -1px

nb-checkbox_size()
