nb-checkbox_size()

  $checkbox-size-S = 14px

  .nb-checkbox_size_s

    font: $font-p2

  .nb-checkbox_size_s .nb-checkbox__flag
    width: $checkbox-size-S
    height: $checkbox-size-S

    top: 0

  .nb-checkbox_size_s.nb-checkbox_type_checkbox .nb-checkbox__flag:after
    top: -1px
    left: -1px

nb-checkbox_size()
