$checkbox-size-S = 14px

.nb-checkbox_size_s
  padding-left: $checkbox-size-S * 1.5 - 1px

  font-size: 0.85em
  line-height: 18px

.nb-checkbox_size_s .nb-checkbox__flag
  width: $checkbox-size-S
  height: $checkbox-size-S

  top: 1px

.nb-checkbox_size_s .nb-checkbox__flag_checkbox:after
  top: -1px
  left: -1px
