.nb-checkbox
  kind: block inline
  skin: para no-margin

  cursor: pointer

._nb-button-checkbox
    ._nb-checkbox-input
      &:checked + ._nb-checkbox-label
        skin: button_checked
      &:focus + ._nb-checkbox-label
        skin: button_focus

._nb-small-button-checkbox
    ._nb-checkbox-input
      &:checked + ._nb-checkbox-label
        skin: button_checked small
      &:focus + ._nb-checkbox-label
        skin: button_focus small

if !ie
  ._nb-checkbox-input
    kind: hidden visually

  ._nb-checkbox-radio-flag
    kind: icon
    skin: radio (-icon '& > ._nb-checkbox-flag-icon')

  ._nb-checkbox-normal-flag
    kind: icon
    skin: checkbox (-icon '& > ._nb-checkbox-flag-icon')

  ._nb-checkbox-input:checked + ._nb-checkbox-flag
    skin: button_checked

  ._nb-checkbox-input:focus + ._nb-checkbox-flag
    skin: button_focus

if ie
  ._nb-checkbox-input,
  ._nb-checkbox-label
    vertical-align: middle

._nb-small-checkbox,
._nb-small-checkbox ._nb-checkbox-flag
  skin: para2 no-margin

._nb-small-radio-checkbox,
._nb-small-radio-checkbox ._nb-checkbox-flag
  skin: para2 no-margin
