.nb-checkbox
  kind: block inline
  skin: para no-margin

  cursor: pointer

.nb-button-checkbox
    .nb-checkbox-input
      &:checked + .nb-checkbox-label
        skin: button_checked
      &:focus + .nb-checkbox-label
        skin: button_focus

.nb-small-button-checkbox
    .nb-checkbox-input
      &:checked + .nb-checkbox-label
        skin: button_checked small
      &:focus + .nb-checkbox-label
        skin: button_focus small

.nb-button-checkbox
    .nb-checkbox-input
      &:checked + .nb-checkbox-label
        skin: button_checked
      &:focus + .nb-checkbox-label
        skin: button_focus


if !ie
  .nb-checkbox-input
    kind: hidden visually

  .nb-checkbox-radio-flag
    kind: icon
    skin: radio (-icon '& > .nb-checkbox-flag-icon')

  .nb-checkbox-normal-flag
    kind: icon
    skin: checkbox (-icon '& > .nb-checkbox-flag-icon')

  .nb-checkbox-input:checked + .nb-checkbox-flag
    skin: button_checked

  .nb-checkbox-input:focus + .nb-checkbox-flag
    skin: button_focus

if ie
  .nb-checkbox-input,
  .nb-checkbox-label
    vertical-align: middle

.nb-small-checkbox,
.nb-small-checkbox .nb-checkbox-flag
  skin: para2 no-margin

.nb-small-radio-checkbox,
.nb-small-radio-checkbox .nb-checkbox-flag
  skin: para2 no-margin
