// Move to buttons as selectors for states?
._nb-button-checkbox
    ._nb-checkbox-input
      &:checked + ._nb-checkbox-label
        skin: button_checked
      &:focus + ._nb-checkbox-label
        skin: button_focus

._nb-small-button-checkbox
    ._nb-checkbox-input
      &:checked + ._nb-checkbox-label
        skin: button_checked small
      &:focus + ._nb-checkbox-label
        skin: button_focus small

if !ie
  ._nb-checkbox-input
    skin: v3-checkbox__controller

  ._nb-checkbox-checkbox
    skin: v3-checkbox (_size large) \
          (__view '& ._nb-checkbox-flag') \
          (__text '& ._nb-checkbox-label') \
          (__controller '') // As explicitly written above

  ._nb-small-checkbox-checkbox
    skin: v3-checkbox \
          (__view '& ._nb-checkbox-flag') \
          (__text '& ._nb-checkbox-label') \
          (__controller '') // As explicitly written above

  ._nb-radio-checkbox
    skin: v3-radio (_size large) \
          (__view '& ._nb-checkbox-flag') \
          (__text '& ._nb-checkbox-label') \
          (__controller '') // As explicitly written above

  ._nb-small-radio-checkbox
    skin: v3-radio \
          (__view '& ._nb-checkbox-flag') \
          (__text '& ._nb-checkbox-label') \
          (__controller '') // As explicitly written above


if ie
  ._nb-checkbox-input,
  ._nb-checkbox-label
    vertical-align: middle
