.nb-slider.nb-slider_size_s .nb-slider__body
  height: $gapS

.nb-slider.nb-slider_size_s .nb-slider__body:before
.nb-slider.nb-slider_size_s .nb-slider__body .ui-slider-range
  top:  ($gapS / 2) - 2

.nb-slider.nb-slider_size_s .nb-slider__body  .nb-slider__handle
  margin-left: -($gapS / 2)

  height: $gapS
  width: $gapS

.nb-slider.nb-slider_size_m .nb-slider__body
  height: $gapM

.nb-slider.nb-slider_size_m .nb-slider__body:before
.nb-slider.nb-slider_size_m .nb-slider__body .ui-slider-range
  top:  ($gapM / 2) - 2

.nb-slider.nb-slider_size_m .nb-slider__body  .nb-slider__handle
  margin-left: -($gapM / 2)

  height: $gapM
  width: $gapM

.nb-slider.nb-slider_size_l .nb-slider__body
  height: $gapL

.nb-slider.nb-slider_size_l .nb-slider__body:before
.nb-slider.nb-slider_size_l .nb-slider__body .ui-slider-range
  top:  ($gapL / 2) - 2

.nb-slider.nb-slider_size_l .nb-slider__body .nb-slider__handle
  margin-left: -($gapL / 2)

  height: $gapL
  width: $gapL
