.nb-slider_size_s
  height: $gapS

.nb-slider__knob_size_s
  margin-left: -($gapS / 2)

  font-size: ($gapS / 2)

.nb-slider_size_m
  height: $gapM

.nb-slider__knob_size_m
  margin-left: -($gapM / 2)

  font-size: ($gapM / 2)

.nb-slider_size_l
  height: $gapL

.nb-slider__knob_size_l
  margin-left: -($gapL / 2)

  font-size: ($gapL / 2)
