nb-slider()

  $nb-slider__track-height = 6px

  .nb-slider
    display: inline-block

    width: 100%

    position: relative

  .nb-slider.is-disabled .ui-slider-handle
    cursor: default


  .nb-slider__handle
    kind: button
    skin: button fly no-active

  .nb-slider__small-handle
    kind: button
    skin: button fly small no-active

  .nb-slider__fallback
    kind: block
    reset: input
    user-select: none
    width: 1.2em
    text-align: center

  .nb-slider__body
    display: none
    position: relative
    z-index: 7

    cursor: default

    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

  .nb-slider_disabled .nb-slider__body
    opacity: 0.5

  .nb-slider__body:before
    content: ''
    display: block
    position: absolute
    z-index: 1
    left: 1px
    right: 1px
    top: 0
    margin:  0

    height: $nb-slider__track-height

    border-radius: 3px

  .nb-slider__body:before
    background-color: rgba(0,0,0,.07)

    box-shadow: inset 0 1px 3px rgba(0,0,0,.2), inset 0 0 1px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.2)

  .nb-slider.nb-slider_orientation_horiz .nb-slider__body .ui-slider-range
    position: absolute
    z-index: 2
    height: $nb-slider__track-height

    top:  0
    margin-left: 1px
    margin-right: -1px
    border-radius: 3px

    background: rgba(255,236,166,.4)
    box-shadow: 0 1px 7px rgba(30,23,0,.35) inset

    &:before
      content: ''
      position: absolute
      left: 1px
      right: 1px
      top: 1px
      bottom: 1px
      border-radius: 2px

      background: #ffeca6
      box-shadow: 0 1px 3px -1px rgba(0,0,0,0.2) inset

  .nb-slider .nb-slider__body .ui-slider-handle
    z-index: 6
    top: -0.85em
    margin: 0 0 0 -1.5em

  .nb-slider_animation_yes .ui-slider-handle
    transition: left .25s ease, bottom .25s ease

  .nb-slider_animation_yes .ui-slider-range
    transition: width .25s ease, left .25s ease, height .25s ease, bottom .25s ease

nb-slider()
