body
{
    margin: 0;

    font: 86% sans-serif;
    background-image: url('shattered.png')
}

.content
{
    background: #f6f5f3;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 90%);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 90%);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 90%);
    background: -ms-linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 90%);
    background: linear-gradient(rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 90%);
    background-attachment: fixed;
}

.demo-pane
{
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.demo-pane:after
{
    content: '';
    display: table;
    clear: left;
}

.demo-section,
.demo-pane__desc
{
    padding: 20px;
}

.demo-pane__desc
{
    float: left;
    width: 150px;
}

.demo-pane__content
{
    margin-left: 190px;
    border-left: 1px solid #eee;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.demo-section
{
    background: #fff;
    border-top: 1px solid #eee;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.demo-section:first-child
{
    border-top-width: 0;
}

.demo-section_dark
{
    background: #272727;
    color: #eee;
}

.demo-h2,
.demo-h3
{
    font-size: 1.2em;
    margin-bottom: 0.35em;
}

.demo-h3
{
    margin-bottom: 1em;
}

.demo-h2
{
    font-weight: bold;
}

.demo-h5
{
    font-size: 0.8em;
    opacity: 0.7;
}

.demo-code,
.demo-code code
{
    font: 1em Menlo, Consolas, monospace;
}

.demo-code pre
{
    margin-bottom: 0;
}

.demo-code_small
{
    display: inline-block;
    font-size: 0.8em;

    color: #666;
}

.demo-code_sample
{
    overflow: hidden;

    max-height: 600px;
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
        -ms-transition: 0.5s;
         -o-transition: 0.5s;
            transition: 0.5s;
}

.content_hide-html .demo-code_sample
{
    max-height: 0;
    opacity: 0;
    -webkit-transform: translateY(-10px);
       -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
         -o-transform: translateY(-10px);
            transform: translateY(-10px);
}

.content_compact .demo-h3
{
    display: none;
}

.content_compact .demo-section
{
    padding: 7px;
}

.demo-toggle
{
    position: fixed;
    top: -1px;
    right: -1px;
    z-index: 999;

    padding: 9px 10px 10px 11px;

    color: #999;

    cursor: pointer;
}

.demo-toggle__section
{
    display: inline-block;
    vertical-align: top;
}

.demo-toggle__section_second
{
    padding-left: 10px;
    margin: 1px 0 0 10px;
    border-left: 1px solid #eee;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}
