.nb-button_type_attach
  overflow: hidden
  

  .nb-button__attach
    position: absolute
    bottom:  0
    right:  0
    width:  430px
    font-size:  150%
    opacity: 0
    border: 0
    
    
  
  