nb-button_checked()



  // .nb-radio-button .nb-button:active
  .nb-button_checked
  .nb-button_checked:active
    color: #7A7254
    background: rgba(255, 236, 166, 0.4)
    box-shadow: inset 0 1px 5px rgba(30, 23, 0, 0.8),
      0 2px 0 -1px rgba(255, 255, 255, 0.2)

    &:before
      background: linear-gradient(#FFECA6 0px, #FFF6D5 100%)
      box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.45)

    .nb-button__text
      top: 1px



nb-button_checked()