.nb-button_header
  width: 38px
  height: 38px

  box-shadow: none

  position: relative

.nb-button_header:hover
  background: #cecece

.nb-button_header:before
  position: absolute
  top: 1px
  right: 1px
  bottom: 1px
  left: 1px

  content: ''

  border-radius: 2px
  background: $background

.nb-button_header .nb-icon
  opacity: 0.25

.nb-button_header_pressed
  background: #fff7db
  box-shadow: 0 1px 7px rgba(30, 23, 0, 0.8) inset,0 2px 0 -1px rgba(255, 255, 255, 0.2)

.nb-button_header_pressed:before
  background: #ffeca6
  background: linear-gradient(top,#ffeca6 0,#fff6d5 100%)
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.45) inset

.nb-button_header_pressed .nb-icon
  opacity: 1