.nb-button_type_round
  line-height: 1
  text-align: center

.nb-button_type_round
.nb-button_type_round:before
  border-radius: 50%

.nb-button_type_round .nb-button__text
  padding: 0

  vertical-align: top
