/*

  Средняя кнопка
    yate:
      options = {
        'size': 'm' // default
      }

    css:
      .nb-button_size_m

  Маленькая кнопка
    yate:
      options = {
        'size': 's'
      }

    css:
      .nb-button_size_s

*/

nb-button_size()

  // кастомизация размеров
  .nb-button_size_s
    font-size: 13px
    if !ie
      line-height: 28px

    if ie
      line-height: 20px




  .nb-button_size_m
    font-size: 15px

    if !ie
      line-height: 32px

    if ie
      line-height: 26px


  .nb-button_theme_pseudo

    &.nb-button_size_s
      if !ie
        line-height: 24px

      if ie
        line-height: 20px


    &.nb-button_size_m
      line-height: 28px


nb-button_size()
