nb-button_size()

  // кастомизация размеров
  .nb-button_size_s
    font-size: 13px
    line-height: 24px
    background-size: auto, auto 28px


  .nb-button_size_m
    font-size: 15px
    line-height: 28px
    background-size: auto, auto 32px


nb-button_size()
