/*

  Обычный вид кнопки
    yate:
      options = {
        'theme': 'normal' // default
      }

    css:
      .nb-button_theme_normal


  Желтая кнопка с каким-либо действием
    yate:
      options = {
        'theme': 'action'
      }

    css:
      .nb-button_theme_action


  Псевдо-кнопка (замена псевдоссылкам)
    yate:
      options = {
        'theme': 'pseudo'
      }

    css:
      .nb-button_theme_pseudo

*/


nb-button_theme()

  if !ie
    .nb-button_theme_normal
      background: #C4C4C4
      background: linear-gradient(rgba(#000, 0.2) 0%, rgba(#000, 0.4) 100%)

    .nb-button_theme_normal:before
      background: #fafafa
      background: linear-gradient(rgba(#fff) 0%, rgba(#eee) 100%)



  .nb-button_theme_action
    background: #A79A80
    background: linear-gradient(rgba(96, 64, 0, 0.4) 0%, rgba(70, 47, 0, 0.54) 100%)

  if !ie
    .nb-button_theme_action:before
      background: #ffdf60
      background: linear-gradient(#FFDF60 0%, #FFCC00 100%)



  // нажатие

  .nb-button_theme_normal
  .nb-button_theme_action

    &:active
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2)

      &:before
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5) inset

      .nb-button__text
        top: 1px


    &
    &.nb-button_disabled:active
      box-shadow: 0 1px 0 rgba(#000, 0.07)

    &.nb-button_disabled:active:before
      box-shadow: none

    &.nb-button_disabled:active .nb-button__text
      top: 0px

    if !ie
      &:before
        content: ''
        position: absolute
        left: 1px
        top: 1px
        right: 1px
        bottom: 1px

        border-radius: 2px


  .nb-button_theme_pseudo
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2)
    cursor: pointer

  .nb-button_theme_pseudo .nb-button__text
    padding: 0 0.78em

  .nb-button_theme_pseudo.nb-button_disabled
    cursor: default


  if ie
    a.nb-button
      border: 2px solid
      border-right-color: #666
      border-bottom-color: #666
      border-top-color: #efefef
      border-left-color: #efefef
      background: #D4D0C8

    a.nb-button_theme_normal
    a.nb-button_theme_action
      &:active
        border-right-color: #efefef
        border-bottom-color: #efefef
        border-top-color: #666
        border-left-color: #666

    .nb-button_theme_action
    a.nb-button_theme_action
      background: #ffdf60

    .nb-button_theme_pseudo
    a.nb-button_theme_pseudo
      text-decoration: none
      background: none
      border: 1px solid #ccc

    .nb-button_theme_pseudo.nb-button_disabled
    a.nb-button_theme_pseudo.nb-button_disabled
      border: 1px solid #ddd

nb-button_theme()
