/*
    Кнопка.
*/

@import '_skin-dark'

$skin-islands-button-content = '.nb-button-content'

.nb-button
  kind: button
  position: relative // Why is it there?

.nb-normal-button
  skin: button

.nb-small-button
  skin: button small

.nb-flying-button
  skin: button fly

.nb-small-flying-button
  skin: button fly small

.nb-action-button
  skin: action-button

.nb-small-action-button
  skin: action-button small

.nb-dark-button
  skin: dark-button

.nb-small-dark-button
  skin: dark-button small

.nb-pseudo-button
  skin: pseudo-button

.nb-small-pseudo-button
  skin: pseudo-button small

.nb-promo-button
  skin: promo-button

.nb-small-promo-button
  skin: promo-button small

.nb-large-promo-button
  skin: promo-button large

.nb-extra-large-promo-button
  skin: promo-button xlarge

// Кнопка аттача
.nb-file-intruder
  kind: file-intruder \
    (-inner '&__inner') \
    (-input '&__input') \
    (-focus '&__focus' 'islands-button_focus_style')
