/*
    Кнопка.
*/

@import '_skin-dark'

$skin-islands-button-content = '.nb-button-content'
$skin-islands-button-disabled = '.is-nb-disabled'

// Обычная кнопка
.nb-button
  kind: button
  skin: button

// Маленькая обычная кнопка
.nb-small-button
  kind: button
  skin: button small

// Летающая кнопка
.nb-flying-button
  kind: button
  skin: button fly

// Маленькая летающая кнопка
.nb-small-flying-button
  kind: button
  skin: button fly small

// Кнопка-действие
.nb-action-button
  kind: button
  skin: action-button

// Маленькая кнопка-действие
.nb-small-action-button
  kind: button
  skin: action-button small

// Темная кнопка
.nb-dark-button
  kind: button
  skin: dark-button

// Little black --dress-- button
.nb-small-dark-button
  kind: button
  skin: dark-button small

// Псевдо-кнопка
.nb-pseudo-button
  kind: button
  skin: pseudo-button

// Маленькая псевдо-кнопка
.nb-small-pseudo-button
  kind: button
  skin: pseudo-button small

// Кнопка аттача

.nb-file-intruder
  kind: file-intruder \
    (-inner '&-inner') \
    (-input '&-input') \
    (-focus '&-focus' 'islands-button_focus_style')
