/*
    Кнопка.
*/

nb-button()

  .nb-button
    display: inline-block

    text-align: center
    white-space: nowrap

    user-select: none
    position: relative
    font-family: $fontFamily

    color: #333

    border-radius: 3px

    vertical-align: middle

    if !ie
      margin: 0
      padding: 0
      border: 0
      background: none
      cursor: default
      text-decoration: none
      outline: 0 auto

    if ie
      overflow: visible

  if ie
    a.nb-button
      padding: 2px 0

  .nb-button:focus
  .nb-button.ui-state-focus
    outline: none
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.07), 0 0 6px 2px rgba(255,204,0,.7)
    box-shadow: 0 1px 0 rgba(0,0,0,.07), 0 0 6px 2px rgba(255,204,0,.7)

  // фиксит выосту кнопки в ФФ
  // при использовании тега button
  .nb-button::-moz-focus-inner
    padding: 0
    border: 0

  .nb-button__text
    position: relative
    padding: 0 1em

  .nb-button
    .nb-icon
      margin-right: 4px
      margin-left:  -4px


  .nb-button_only-icon
    .nb-icon
      position: absolute
      left: 50%
      top: 50%
      margin: -8px 0 0 -8px

    .nb-icon_size_m
      margin: -16px 0 0 -16px

    .nb-icon_size_l
      margin: -24px 0 0 -24px

    .nb-button__text
      width: 4px
      display: inline-block


  @import '_size'
  @import '_theme'
  @import '_disabled'
  @import '_checked'
  @import '_attach'

nb-button()
